
/* fallback */
@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 100 700;
	src: url(material-symbols.woff2) format('woff2');
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
	font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24
}

.main-login {
	max-width: 350px;
}

.main-login .login-username {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.main-login .login-password {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 20px;
}

thead td {
	font-weight: bold;
}

.added-row td {
	background-color: #C3FFBE !important;
} 

.removed-row td {
	background-color: #FFBEBE !important;
} 

.list-group .nav-toggle {
	cursor: pointer;
}

.list-group .nav-toggle:not(.active):hover {
	cursor: pointer;
	background-color: #eeeeee;
}

.green {
	color: #1cb840;
}

.btn-green {
	background-color: #1cb840 !important;
	border-color: #1cb840 !important;
}

.btn-orange {
	background-color: #d57017 !important;
	border-color: #d57017 !important;
}

.red {
	color: #b82518;
}

.text-center {
	text-align: center;
}

.error-container{
	position: fixed;
	bottom:0;
	right:20px;
	width: 500px;
	z-index: 999;
}