<!DOCTYPE html>
<html lang="de" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="utf-8">
        <title>Anwesenheitserfassung</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
    
</head>
    <body>
    	<header data-bs-theme="dark">
			<div layout:fragment="navigation"></div>
		</header>
		<main>
			<section layout:fragment="content"></section>
      	</main>
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/webjars/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        <section layout:fragment="script"></section>

    </body>
</html>
