<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    
</head>
<body>
	<div layout:fragment="navigation" th:replace="~{fragments/navigation :: navigationLogin}"></div>
	
	<div layout:fragment="content" class="main-login w-100 m-auto py-5">
		<div class="container">
		
			<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
	        <form th:action="@{/login}" method="post">
			    <h1 class="h3 mb-3 fw-normal">Login</h1>
			
			    <div class="form-floating">
			      <input type="text" name="username" class="form-control login-username" id="floatingInput" placeholder="mmustermann" />
			      <label for="floatingInput">Benutzername</label>
			    </div>
			    <div class="form-floating">
			      <input type="password" name="password" class="form-control login-password" id="floatingPassword" placeholder="Passwort" />
			      <label for="floatingPassword">Passwort</label>
			    </div>
			
			    <button class="btn btn-primary w-100 py-2" type="submit">Anmelden</button>
			  </form>
        </div>
	</div>    
</body>
</html>