
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    
</head>
<body>
	<div layout:fragment="content" class="w-100 m-auto py-5">
		<div class="container">
		
			<div class="row" id="meldungen">
				<div class="col-md-12" th:if="${meldungenErfolg}">
					<div class="alert alert-success" th:each="meldungErfolg : ${meldungenErfolg}" th:text="${meldungErfolg}"></div>
				</div>
				<div class="col-md-12" th:if="${meldungenFehler}">
					<div class="alert alert-danger" th:each="meldungFehler : ${meldungenFehler}" th:text="${meldungFehler}"></div>
				</div>
			</div>
			
			<div class="row" th:if="${anwesenheitenZuTermin != null}" th:remove="tag">
				<div th:replace="~{verwaltung/fragments/anwesenheiten :: tabelleNichtZugeordneteAusweise(${anwesenheitenZuTermin})}"></div>
				<div th:replace="~{verwaltung/fragments/anwesenheiten :: terminTabelleTeilnehmendePersonen(${anwesenheitenZuTermin})}"></div>
				<div th:replace="~{verwaltung/fragments/anwesenheiten :: terminTabelleAlleErfassungen(${anwesenheitenZuTermin})}"></div>
			</div>
			<div class="row" th:if="${termineZuVeranstaltung != null}" th:remove="tag">
				<div th:replace="~{verwaltung/fragments/anwesenheiten :: termineZuVeranstaltung}"></div>
			</div>
			<div class="row" th:if="${startZeitpunkt != null}" th:remove="tag">
				<div id="startZeitpunkt" th:text="${startZeitpunkt}"></div>
			</div>
		</div>
	</div>
</body>
</html>