<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<nav th:fragment="navigationLoggedIn" class="navbar navbar-expand-lg  bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand">Anwesenheitserfassung</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" sec:authorize="hasAnyRole('VERWALTUNG_VERANSTALTUNGEN', 'ADMINISTRATION')">
                    <a class="nav-link" aria-current="page" th:href="@{/verwaltung/veranstaltungen}">Veranstaltungen</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('VERWALTUNG_AUSWEISE', 'ADMINISTRATION')">
                    <a class="nav-link" th:href="@{/verwaltung/ausweise}">Ausweise</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('VERWALTUNG_PERSONEN', 'ADMINISTRATION')">
                    <a class="nav-link" th:href="@{/verwaltung/personen}">Personen</a>
                </li>
                <li class="nav-item me-auto" sec:authorize="hasAnyRole('VERWALTUNG_RAEUME', 'ADMINISTRATION')">
                    <a class="nav-link" th:href="@{/verwaltung/raeume}">Räume</a>
                </li>
                <li class="nav-item me-auto">
                    <a class="nav-link" th:href="@{/verwaltung/anwesenheiten}">Anwesenheiten</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATION')">
                    <a th:href="@{/verwaltung/konfiguration}" class="nav-link">Konfiguration</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATION')">
                    <a th:href="@{/verwaltung/benutzer}" class="nav-link">Benutzer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Angemeldet als: <span sec:authentication="name"></span> </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav th:fragment="navigationLogin" class="navbar navbar-expand-lg  bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand">Anwesenheitserfassung</a>
    </div>
</nav>

</html>