<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<script src="../../../static/js/anwesenheiten.js"></script>
<div th:fragment="start">
		<div class="row" sec:authorize="hasAnyRole('ALLE_ANWESENHEITEN_EINSEHEN', 'ADMINISTRATION')">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between">
		  					<h5 class="card-title">Anwesenheiten nach Veranstaltung</h5>
					    </div>
					    <form th:action="@{/verwaltung/anwesenheiten/nachVeranstaltung}" method="get">
						  	<div class="row">
						 		<div class="col-md-4">
									<div class="row-fluid">
										<label for="veranstaltung" class="form-label">Veranstaltung</label>
										<select name="veranstaltung" id="veranstaltung" title="Bitte auswählen" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onChange="anwesenheitenAuswahlFilterTermine(this);">
										  <option th:each="v : ${auswahlVeranstaltungenListe}" th:value="${v.id}" th:text="${v.name}" th:data-subtext="${v.kennung}"></option>
					 					</select>	
					 				</div>
								</div>
		 						<div class="col-md-4">
									<div th:replace="~{verwaltung/fragments/anwesenheiten :: termineZuVeranstaltung}"></div>
								</div>
						 		<div class="col-md-2">
						 			<label class="form-label">&nbsp;</label>
									<button type="submit" class="btn btn-primary form-control">Anzeigen</button>
							 	</div>
							</div>
						</form>
				 	</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between">
		  					<h5 class="card-title">Meine Termine</h5>
					    </div>
						<div id="meineAnwesenheitenTabelleContainer">
							<div id="meineAnwesenheitenTabelle"
								 th:data-filter-veranstaltungen="${#strings.listJoin(filterVeranstaltungen, ',')}"
								 th:data-filter-raeume="${#strings.listJoin(filterRaeume, ',')}"
								 th:data-filter-zeitraum="${filterZeitraum}"
								 th:data-filter-vergangene="${filterVergangene}"
								 th:data-filter-seite="${filterSeite}"
								 th:data-filter-eintraege-je-seite="${filterEintraegeJeSeite}">
								<table class="table table-striped">
									<thead>
										<tr>
											<td scope="col" style="width: 45%;">Veranstaltung</td>
											<td scope="col" style="width: 30%;">Zeitraum</td>
											<td scope="col" style="width: 15%;">Raum</td>
											<td scope="col" style="width: 10%;"></td>
										</tr>
										<tr>
											<td scope="col">
												<div class="row-fluid">
													<select id="veranstaltungFilterSelect" multiple="multiple" data-feld="veranstaltungen" title="Filter: Veranstaltung" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onchange="anwesenheitenTabelleFilter(this)">
														<option th:selected="${filterVeranstaltungen.contains(v.id)}" th:each="v : ${veranstaltungenFilterListe}" th:value="${v.id}" th:data-subtext="${v.kennung}" th:text="${v.name}"></option>
													</select>
												</div>
											</td>
											<td scope="col"><input type="text" class="form-control datepicker" th:value="${filterZeitraum}" placeholder="Filter: Zeitraum" data-feld="zeitraum" onChange="anwesenheitenTabelleFilter(this);" /></td>
											<td scope="col">
												<div class="row-fluid">
													<select id="raumFilterSelect" multiple="multiple" data-feld="raeume" title="Filter: Raum" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onchange="anwesenheitenTabelleFilter(this)">
														<option th:selected="${filterRaeume.contains('-')}" value="-">Ohne Raum</option>
														<option th:each="r : ${raeumeFilterListe}" th:selected="${filterRaeume.contains(r.id)}" th:value="${r.id}" th:data-subtext="${r.kennung}" th:text="${r.bezeichnung}"></option>
													</select>
												</div>
											</td>
											<td>
												<div class="row-fluid">
													<select id="veranstaltungenFilterVergangeneSelect" data-feld="vergangene" class="form-control selectpicker" data-show-subtext="false" data-live-search="true" onchange="anwesenheitenTabelleFilter(this)">
														<option th:selected="${filterVergangene==-1}" value="-1">Alle</option>
														<option th:selected="${filterVergangene==1}" value="1">Abgeschlossene</option>
														<option th:selected="${filterVergangene==0}" value="0">Nicht abgeschlossene</option>
													</select>
												</div>
											</td>
										</tr>

									</thead>
									<!--/*@thymesVar id="termineFuerBenutzer" type="java.util.List<de.lorenzkock.anwesenheitserfassungserver.data.termin.Termin>"*/-->
									<tbody th:if="${!termineFuerBenutzer.isEmpty()}">
										<tr th:each="termin : ${termineFuerBenutzer}">
											<td th:text="${termin.getVeranstaltung().getName()}"></td>
											<td th:text="${termin.getZeitraumFormatted()}"></td>
											<td th:text="${termin.getRaeumeString()}"></td>
											<td><a th:href="@{/verwaltung/anwesenheiten/nachVeranstaltung?termin=}+${termin.id}"><button type="button" class="btn btn-info">Öffnen</button></a></td>
										</tr>
									</tbody>
									<tbody th:if="${termineFuerBenutzer.isEmpty()}">
										<tr>
											<td colspan="4" class="text-center">Keine Termine</td>
										</tr>
									</tbody>
								</table>

								<div class="d-flex justify-content-between">
									<nav>
										<ul class="pagination">
											<li class="page-item" th:classappend="${filterSeite<= 1}?'disabled':''">
												<a data-feld="seite" th:data-seite="${filterSeite-1}" onclick="anwesenheitenTabelleFilter(this);" class="page-link" href="#" aria-label="Previous">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>
											<li th:each="s : ${seitenFuerNavigation}" class="page-item" th:classappend="${s == filterSeite}?'active':''"><a data-feld="seite" th:data-seite="${s}" onclick="anwesenheitenTabelleFilter(this);" class="page-link" href="#" th:text="${s}">1</a></li>
											<li class="page-item" th:classappend="${filterSeite >= seitenGesamt}?'disabled':''">
												<a data-feld="seite" th:data-seite="${filterSeite+1}" onclick="anwesenheitenTabelleFilter(this);" class="page-link" href="#" aria-label="Next">
													<span aria-hidden="true">&raquo;</span>
												</a>
											</li>
										</ul>
									</nav>
									<nav>
										<ul class="pagination">
											<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="10" onclick="anwesenheitenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==10}?'active':''"><a class="page-link" href="#" aria-label="10">10</a></li>
											<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="25" onclick="anwesenheitenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==25}?'active':''"><a class="page-link" href="#" aria-label="25">25</a></li>
											<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="50" onclick="anwesenheitenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==50}?'active':''"><a class="page-link" href="#" aria-label="50">50</a></li>
											<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="100" onclick="anwesenheitenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==100}?'active':''"><a class="page-link" href="#" aria-label="100">100</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
				 	</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	<div th:fragment="anwesenheitenZuVeranstaltung">

		<div class="mb-3" style="display: flex; justify-content: flex-end;"><a th:href="@{/export/anwesenheiten/veranstaltung/}+${anwesenheitenZuVeranstaltung.veranstaltung.id}"><button type="button" class="btn btn-success">Anwesenheiten zu Veranstaltung exportieren</button></a></div>

		<div th:replace="~{verwaltung/fragments/veranstaltung :: info(veranstaltung=${anwesenheitenZuVeranstaltung.veranstaltung})}"></div>
		
		<div class="row">
			<div class="col-12">
				<div class="card mt-5">
					<div class="card-body">
						<div class="d-flex justify-content-between">
						  	<h5 class="card-title">Anwesenheiten nach Terminen</h5>
					  	</div>
					</div>
				 </div>
			</div>
		</div>
		 
		<div class="row mt-3">
			<div class="col-md-4">
				<div class="card">
					<ul class="nav list-group">
						<li th:each="termin,i : ${anwesenheitenZuVeranstaltung.termine}" class="list-group-item nav-toggle" data-container-id="termine" th:data-tab-id="${termin.termin.id}" th:text="${termin.termin.zeitraumFormatted}"  th:classappend="${i.index == 0 ? 'active':''}"></a></li>
					</ul>
				 </div>
			</div>
			<div class="col-md-8 tab-content" id="termine">
				<div th:each="termin,i : ${anwesenheitenZuVeranstaltung.termine}"  th:id="${termin.termin.id}" class="tab" th:classappend="${i.index != 0 ? 'd-none':''}">
					<div th:replace="~{verwaltung/fragments/anwesenheiten :: selectedTerminSection(termin=${termin})}"></div>
				</div>
			</div>
		</div>	
	</div>
	
	
	
	
	
	<div th:fragment="anwesenheitenZuTermin">
		<div class="mb-3" style="display: flex; justify-content: flex-end;"><a th:href="@{/export/anwesenheiten/termin/}+${anwesenheitenZuTermin.termin.id}"><button type="button" class="btn btn-success">Anwesenheiten zu Termin exportieren</button></a></div>
		<div th:replace="~{verwaltung/fragments/veranstaltung :: info(veranstaltung=${anwesenheitenZuTermin.termin.veranstaltung})}"></div>
		<div class="row mt-5">
			<div class="col-12">
				<div th:replace="~{verwaltung/fragments/anwesenheiten :: selectedTerminSection(termin=${anwesenheitenZuTermin})}"></div>
			</div>
		</div>
	</div>	
	
	
	
	
	
	
	<div th:fragment="selectedTerminSection(termin)" class="terminData" th:data-termin-id="${termin.termin.id}">
		<div class="error-container meldungenTermin" th:data-termin-id="${termin.termin.id}">
		</div>
		<div class="row">
			<div class="col-12">
				<div th:replace="~{verwaltung/fragments/termin :: info(termin=${termin.termin})}"></div>
			</div>
		</div>
		<div class="row mt-5" th:if="${berechtigteTermineZuweisen == null || berechtigteTermineZuweisen.contains(termin.termin.id)}">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<h5 class="card-title">Nicht zugeordnete Ausweise</h5>
						</div>
						<div th:replace="~{verwaltung/fragments/anwesenheiten :: tabelleNichtZugeordneteAusweise(termin=${termin})}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between mb-2">
							<h5 class="card-title">Teilnehmende Personen</h5>
						</div>
						<div class="mb-2 row">
							<div class="col-md-6">
								<div class="row-fluid" style="width: 100%; max-width: 300px;" >
									<div class="form-group">
										<label th:for="'raumSelect-'+${termin.termin.id}">Raum für manuelle Erfassung</label>
										<select th:id="'raumSelect-'+${termin.termin.id}"  title="Bitte Raum für Erfassung wählen" class="form-control selectpicker bg-secondary" data-show-subtext="true" data-live-search="true">
											<option th:each="r : ${termin.termin.raeume}" th:value="${r.id}" th:data-subtext="${r.kennung}" th:text="${r.bezeichnung}"></option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label for="erfassungStart">Referenzzeit für Verspätungen</label>
											<input id="erfassungStart" th:data-termin-id="${termin.termin.id}"  style="width: 100%;" class="form-control erfassungStart" type="text" th:value="${termin.termin.getErfassungStartFormatted()}" />
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label for="erfassungButtonAendern"></label>
											<div><button id="erfassungButtonAendern" th:data-termin-id="${termin.termin.id}" type="button" style="width: 100%;" class="btn btn-primary" onclick="aendereErfassungStart(this);">Ändern</button></div></div>
									</div>
									<div class="col-lg-3 erfassungButtonStartenContainer" th:classappend="${termin.termin.erfassungStart == null ? '' : 'd-none'}" th:data-termin-id="${termin.termin.id}" >
										<div class="form-group">
											<label for="erfassungButtonStarten"></label>
											<div><button id="erfassungButtonStarten" th:data-termin-id="${termin.termin.id}" type="button" style="width: 100%;" class="btn btn-secondary" onclick="starteErfassung(this);">Jetzt starten</button></div>
										</div>
									</div>

								</div>

							</div>
						</div>
						<hr>

						<div th:replace="~{verwaltung/fragments/anwesenheiten :: terminTabelleTeilnehmendePersonen(termin=${termin})}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">

				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<h5 class="card-title">Alle Erfassungen des Termins</h5>
						</div>
						<div th:replace="~{verwaltung/fragments/anwesenheiten :: terminTabelleAlleErfassungen(termin=${termin})}"></div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="modal fade modal-lg" th:id="'modal-'+${termin.termin.id}" tabindex="-1" aria-hidden="true">
			
		</div>
		<div class="modal fade" th:id="'modal-zuweisen-'+${termin.termin.id}" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Ausweis zurodnen</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row meldungen-zuweisung-container d-none">	
						   	<div class="col-lg-12">					   	
							    <div class="alert alert-danger meldungen-zuweisung"></div>
							</div>		
						</div>	
						<div class="row">	
						   	<div class="col-lg-12">					   	
							    <div class="row-fluid">
									<label class="form-label">RFID Seriennummer</label>
					  				<input type="text" class="form-control" name="rfidSnr" readonly="true" />	
				 				</div>
							</div>		
						</div>	
						<div class="row">	
						   	<div class="col-lg-12">					   	
							    <div class="row-fluid">
									<label class="form-label">Zeitpunkt der Erfassung</label>
					  				<input type="text" class="form-control" name="zeitpunkt" readonly="true" />	
				 				</div>
							</div>		
						</div>	
						<div class="row">	
						   	<div class="col-lg-12">					   	
							    <div class="row-fluid">
									<label th:for="'zuordnen-person-select-'+${termin.termin.id}" class="form-label">Person</label>
					  				<select name="personId" th:id="'zuordnen-person-select-'+${termin.termin.id}" title="Bitte wählen" class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
									    <option th:each="p : ${termin.teilnehmendePersonenSorted}" th:value="${p.person.id}" th:data-subtext="${p.person.kennung}" th:text="${p.person.name}"></option>
				 					</select>	
				 				</div>
							</div>		
						</div>	
						<div class="row mt-3">	
						   	<div class="col-lg-12">					   	
							   <div class="form-check">
			    					<input class="form-check-input" type="checkbox" value="1" name="fremdausweis" id="fremdausweis" checked>
			    					<label class="form-check-label" for="fremdausweis" >
			      						Fremder Ausweis
			    					</label>
			  					</div>
							</div>		
						</div>	
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" onclick="zuweisenSubmit(this);" th:data-termin-id="${termin.termin.id}">Speichern</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
					</div>
				</div>
			</div>	
		</div>	
	</div>
	
	
	
	
	
	
	<div th:fragment="terminTabelleTeilnehmendePersonen(termin)" class="terminTable" th:data-termin-id="${termin.termin.id}">
		<table class="table table-striped">
			<thead>
				<tr>
					<td scope="col" style="width: 5%;">Anwesend</td>
					<td scope="col" style="width: 20%;">Kennung</td>
					<td scope="col" style="width: 45%;">Name</td>
					<td scope="col" style="width: 20%;" th:if="${berechtigteTermineNachtragen == null || berechtigteTermineNachtragen.contains(termin.termin.id)}">Aktion</td>
					<td scope="col" style="width: 10%;">Protokoll</td>
				</tr>
			</thead>
			<tbody th:if="${!termin.teilnehmendePersonen.isEmpty()}">
				<tr th:each="t,j: ${termin.teilnehmendePersonenSorted}">
					<td>
						<span class="material-symbols-outlined" th:text="${t.status.icon}" th:classappend="${t.status.farbe}" th:title="${t.status.beschreibung}"></span>
						<span th:if="${t.istOnlineAnwesenheit()}" class="material-symbols-outlined" th:classappend="${t.status.farbe}" title="Online">desktop_windows</span>
					</td>
					<td th:text="${t.person.kennung}"></td>
					<td th:text="${t.person.name}"></td>
					<td  th:if="${berechtigteTermineNachtragen == null || berechtigteTermineNachtragen.contains(termin.termin.id)}">
						<button type="button" onclick="erfasse(this, false); return false;" th:data-termin-id="${termin.termin.id}" th:data-person-id="${t.person.id}" class="btn btn-success" th:if="${t.aktion != null}" th:classappend="${t.aktion != null ? t.aktion.farbe : ''}" ><span class="material-symbols-outlined" th:text="${t.aktion.icon}"></span></button>
						<button type="button" onclick="erfasse(this, true); return false;" th:data-termin-id="${termin.termin.id}" th:data-person-id="${t.person.id}" class="btn btn-success" th:if="${t.aktion != null}" th:classappend="${t.aktion != null ? t.aktion.farbe : ''}" ><span class="material-symbols-outlined" th:text="${t.aktion.icon}"></span><span class="material-symbols-outlined">desktop_windows</span></button>
					</td>
					<td><div th:if="${!t.erfassungenKomprimiert.isEmpty()}">
						<button type="button" class="btn btn-info modal-fill-btn" th:data-target-modal-id="'modal-'+${termin.termin.id}" th:data-source-modal-id="'protokoll-person-'+${termin.termin.id}+'-'+${j.index}">Protokoll</button>
							<div th:id="'protokoll-person-'+${termin.termin.id}+'-'+${j.index}" class="d-none">
								<div class="modal-dialog  modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5">Protokoll zu <span th:text="${t.person.name}" th:remove="tag"></span></h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<table class="table table-striped">
							   					<thead>
								   					<tr>
								   						<td scope="col" style="width: 25%;">Gekommen</td>
														<td scope="col" style="width: 13%;"></td>
														<td scope="col" style="width: 10%;"></td>
														<td scope="col" style="width: 2%;" th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}"></td>
														<td scope="col" style="width: 25%;" th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}">Gegangen</td>
														<td scope="col" style="width: 13%;" th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}"></td>
								   						<td scope="col" style="width: 10%;" th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}"></td>
								   					</tr>
												</thead>
												<tbody>
													<tr th:each="e : ${t.erfassungenKomprimiert}">
														<td th:text="${e.start.zeitpunktFormatted + ' Uhr'}"></td>
														<td th:text="${e.start.raumBezeichnung == null ? '-' : e.start.raumBezeichnung}"></td>
														<td>
															<span class="material-symbols-outlined" style="font-size: 24pt;" th:text="${e.start.modus.icon}" th:title="${e.start.modus.beschreibung}"></span>
															<span th:if="${e.start.onlineAnwesend}" class="material-symbols-outlined" title="Online">desktop_windows</span>
														</td>
														<td scope="col" style="width: 2%;" th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}"></td>
														<td th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}" th:text="${e.ende != null ? e.ende.zeitpunktFormatted + ' Uhr' : ''}" ></td>
														<td th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}" th:text="${e.ende == null ? '' : (e.ende.raumBezeichnung == null ? '-' : e.ende.raumBezeichnung)}"></td>
														<td th:if="${termin.termin.veranstaltung.erlaubeEinUndAusgehendeBuchungen}">
															<span class="material-symbols-outlined" th:if="${e.ende != null}" th:text="${e.ende.modus.icon}" th:title="${e.ende.modus.beschreibung}"></span>
															<span th:if="${e.ende != null && e.ende.onlineAnwesend}" class="material-symbols-outlined" title="Online">desktop_windows</span>
														</td>
													</tr>
												</tbody> 
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tbody th:if="${termin.teilnehmendePersonen.isEmpty()}">
				<tr>
					<td colspan="5" class="text-center">Keine Personen</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!--/*@thymesVar id="termin" type="de.lorenzkock.anwesenheitserfassungserver.controller.ui.dto.TerminAnwesenheitenDto"*/-->
	<div th:fragment="terminTabelleAlleErfassungen(termin)" class="erfassungenTable" th:data-termin-id="${termin.termin.id}">
		<table class="table table-striped">
			<thead>
			<tr>
				<td scope="col" style="width: 10%;">Art</td>
				<td scope="col" style="width: 25%;">Person</td>
				<td scope="col" style="width: 15%;">Ausweis Snr</td>
				<td scope="col" style="width: 15%;">Ausweis Kennung</td>
				<td scope="col" style="width: 5%;">Eigenausweis</td>
				<td scope="col" style="width: 10%;">Raum</td>
				<td scope="col" style="width: 20%;">Zeitpunkt</td>
			</tr>
			</thead>
			<tbody th:if="${!termin.erfassungen.isEmpty()}">
				<tr th:each="e: ${termin.erfassungen}">
					<td>
						<span class="material-symbols-outlined" style="font-size: 20pt;" th:text="${e.modus.icon}" th:title="${e.modus.beschreibung}"></span>
						<span th:if="${e.onlineAnwesend}" class="material-symbols-outlined" title="Online">desktop_windows</span>
					</td>

					<td th:if="${e.person != null}" th:text="${e.person.getName()}"></td>
					<td th:if="${e.person == null}">-</td>

					<td th:if="${e.ausweis != null}" th:text="${e.ausweis.getRfidSnr()}"></td>
					<td th:if="${e.ausweis == null}">-</td>

					<td th:if="${e.ausweis != null && !e.ausweis.isFremdausweis()}" th:text="${e.ausweis.getKennung()}"></td>
					<td th:if="${e.ausweis == null || e.ausweis.isFremdausweis()}">-</td>

					<td th:if="${e.ausweis != null}" th:text="${e.ausweis.isFremdausweis() ? 'Nein' : 'Ja'}"></td>
					<td th:if="${e.ausweis == null}">-</td>

					<td th:text="${e.raumBezeichnung == null ? '-' : e.raumBezeichnung}">-</td>

					<td th:text="${e.getZeitpunktFormatted()} + ' Uhr'"></td>

				</tr>
			</tbody>
			<tbody th:if="${termin.erfassungen.isEmpty()}">
				<tr>
					<td colspan="7" class="text-center">Keine Erfassungen</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	
	<div th:fragment="tabelleNichtZugeordneteAusweise(termin)" class="nichtZugeordneteAusweiseTable" th:data-termin-id="${termin.termin.id}">
		<table class="table table-striped">
			<thead>
				<tr>
					<td scope="col" style="width: 45%;">RFID Snr</td>
					<td scope="col" style="width: 45%;">Zeitpunkt</td>
					<td scope="col" style="width: 10%;">Zuordnen</td>
				</tr>
			</thead>
			<tbody th:if="${!termin.nichtZugewieseneAusweise.isEmpty()}">
				<tr th:each="nichtZugewiesenerAusweis,j : ${termin.nichtZugewieseneAusweise}">
					<td th:text="${nichtZugewiesenerAusweis.ausweis.rfidSnr}"></td>
					<td th:text="${nichtZugewiesenerAusweis.letzterZeitpunktFormatted}"></td>
					<td>
						<button type="button" class="btn btn-info" onclick="zuordnen(this);" th:data-termin-id="${termin.termin.id}" th:data-rfid-snr="${nichtZugewiesenerAusweis.ausweis.rfidSnr}" th:data-zeitpunkt="${nichtZugewiesenerAusweis.letzterZeitpunktFormatted}">Zuordnen</button>
					</td>
				</tr>
			</tbody>
			<tbody th:if="${termin.nichtZugewieseneAusweise.isEmpty()}">
				<tr>
					<td colspan="3"><center>Keine nicht zugeordneten Ausweise</center></td>
				</tr>
			</tbody>
		</table>
	</div>

	
	
	<div th:fragment="termineZuVeranstaltung" id="termineZuVeranstaltungContainer">
		<div id="termineZuVeranstaltung">
			<label for="terminZuVeranstaltungSelect" class="form-label">Termin</label>
			<div th:if="${#lists.isEmpty(termineZuVeranstaltung)}" th:remove="tag">
				<select name="termin" id="terminZuVeranstaltungSelect" title="Keine Termine" class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
				</select>
			</div>	
			<div th:if="${!#lists.isEmpty(termineZuVeranstaltung)}" th:remove="tag">
				<select name="termin" id="terminZuVeranstaltungSelect" title="Bitte wählen" class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
					<option  th:each="t : ${termineZuVeranstaltung}" th:value="${t.id}" th:data-subtext="${t.kennung}" th:text="${t.zeitraumFormatted}"></option>
				</select>
			</div>	
		</div>
	</div>
	
</html>