<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	
	<div th:fragment="list">
		
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="card">
			<div class="card-body">
			
				<div class="d-flex justify-content-between">
				    <h5 class="card-title"Ausweise/h5>
				    <a th:href="@{/verwaltung/ausweise/erstellen}"><button class="btn btn-secondary">Erstellen</button></a>
			    </div>
			   	<div th:replace="~{verwaltung/fragments/ausweis :: tabelle(${ausweise})}"></div>
		 	</div>
		 </div>
	</div>
	
	<div th:fragment="erstellen">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Ausweis erstellen</h5>
			   	<form th:action="@{/verwaltung/ausweise/erstellen}" method="post" th:object="${ausweisErstellen}"  onsubmit="return validateAusweisForm()">
			   		<div class="mb-3">
						<label for="vorname" class="form-label">RFID Seriennummer *</label>
						<input type="text" th:field="*{rfidSnr}" class="form-control" id="rfidSnr">
	  				</div>
			   		<div class="mb-3">
						<label for="kennung" class="form-label">Kennung</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="kennung" aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
			   		<div class="mb-3">
				   		<div class="row-fluid">
							<label for="personId" class="form-label">Zugeordnete Person</label>
			  				<select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" th:field="*{personId}">
							    <option value="" data-subtext="">Keine Person</option>
							    <option th:each="p : ${personen}" th:value="${p.id}" th:data-subtext="${p.kennung}" th:text="${p.vorname} + ' ' + ${p.nachname}"></option>
		 					</select>
	 					</div>
	 				</div>
				  	<button type="submit" class="btn btn-primary">Erstellen</button>
				  	<a th:href="@{/verwaltung/ausweise}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	</div>
	
	<div th:fragment="bearbeiten">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.createSuccess != null}">Der Ausweis wurde angelegt</div>
		<div class="alert alert-success" role="alert" th:if="${param.editSuccess != null}">Der Ausweis wurde bearbeitet</div>
		<div class="alert alert-danger" role="alert" th:if="${param.editError != null}" th:text="${param.editError}"></div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Ausweis bearbeiten</h5>
			   	<form th:action="@{/verwaltung/ausweise/bearbeiten}+${ausweisBearbeiten.rfidSnr}+'/'+${ausweisBearbeiten.kennung}" method="post" th:object="${ausweisBearbeiten}" onsubmit="return validateAusweisForm()">
			   		<input type="hidden" th:field="*{rfidSnr}" />
			   		<input type="hidden" th:field="*{kennung}" />
			   		<div class="mb-3">
						<label for="rfidSnr" class="form-label">RFID Seriennummer</label>
						<input type="text" th:value="${ausweis.rfidSnr}" class="form-control" id="rfidSnr" disabled>
	  				</div>
			   		<div class="mb-3">
						<label for="kennung" class="form-label">Kennung</label>
						<input type="text" th:value="${ausweis.kennung}" class="form-control" id="kennung" disabled aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
			   		<div class="mb-3">
						<label for="kennung" class="form-label">Eigenausweis</label>
						<input type="text" th:value="${ausweis.fremdausweis ? 'Nein' : 'Ja'}" class="form-control" id="eigenausweis" disabled aria-describedby="eigenausweisHelp">
						<div id="eigenausweisHelp" class="form-text">Ein Eigenausweis ist ein Ausweis, der selbst herausgegeben wurde. Ein Fremdausweis ist ein Ausweis, der von der Person selbst mitgebracht wurde (bsp. EC-Karten).</div>
	  				</div>
			   		<div class="mb-3" th:if="${ausweis.person == null}">
				   		<div class="row-fluid">
							<label for="personId" class="form-label">Zugeordnete Person</label>
			  				<select id="personId" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" th:field="*{personId}">
							    <option value="" data-subtext="">Keine Person</option>
							    <option th:each="p : ${personen}" th:value="${p.id}" th:data-subtext="${p.kennung}" th:text="${p.vorname} + ' ' + ${p.nachname}"></option>
		 					</select>
	 					</div>
	 				</div>
			   		<div class="mb-3" th:if="${ausweis.person != null}">
						<div><label for="person" class="form-label">Zugeordnete Person</label></div>
			   			<div class="d-flex">
				   			<div style="flex: 1" class="me-1">
								<input type="text" th:value="${ausweis.person.vorname} + ' ' + ${ausweis.person.nachname} + ' - ' + ${ausweis.person.kennung}" class="form-control" id="person" disabled aria-describedby="personHelp">
								<div id="personHelp" class="form-text">Eine Person kann nur einmalig zu einem Ausweis zugeordnet werden. Für eine neue Zuweisung muss ein neuer Ausweis angelegt werden.</div>
							</div>							
							<div sec:authorize="hasAnyRole('ROLE_VERWALTUNG_PERSONEN','ROLE_ADMINISTRATION')">
								<a th:href="@{/verwaltung/personen/}+${ausweis.person.id}">
									<button type="button" class="btn btn-secondary">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
	  										<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
										</svg>
									</button>
								</a>
							</div>
						</div>
	  				</div>
			   		<div class="mb-3" th:if="${ausweis.fremdausweis}">
						<div><label for="person" class="form-label">Zugeordneter Eigenausweis</label></div>
			   			<div class="d-flex">
				   			<div style="flex: 1" class="me-1">
								<input type="text" th:value="${ausweis.eigenausweis != null ? ausweis.eigenausweis.kennung : 'Kein Eigenausweis zugeordnet'}" class="form-control" id="person" disabled aria-describedby="personHelp">
								<div id="personHelp" class="form-text">Zu einem Fremdausweis kann ein Eigenausweis zugeordnet werden, mit dem der Fremdausweis verknüpft ist.</div>
							</div>							
							<div th:if="${ausweis.eigenausweis != null}">
								<a th:href="@{/verwaltung/ausweise/}+${ausweis.eigenausweis.rfidSnr}+'/'+${ausweis.eigenausweis.kennung}">
									<button type="button" class="btn btn-secondary">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
	  										<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
										</svg>
									</button>
								</a>
							</div>
						</div>
	  				</div>
				  	<button type="submit" class="btn btn-primary">Speichern</button>
				  	<a th:href="@{/verwaltung/ausweise}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	 	<div class="card mt-5" th:if="${ausweis.fremdausweis}">
		 	<div class="card-body">
		    	<h5 class="card-title">Ausweis zu Eigenausweis umwandeln</h5>
		    	<form th:action="@{/verwaltung/ausweise/zuEigenausweisUmwandeln}" method="post" th:object="${ausweisBearbeiten}" onsubmit="return validateAusweisForm()">
			   		<input type="hidden" th:field="*{rfidSnr}" />
			   		<input type="hidden" th:field="*{kennung}" />
			   		<input type="hidden" name="eigenausweis" value="1" />
				  	<button type="submit" class="btn btn-danger">Umwandeln</button>			   	
			   	</form>
		  	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungen als Teilnehmer</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Kennung</td>
	   						<td scope="col">Name</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(ausweis.teilnehmendeVeranstaltungen)}">
	   					<tr th:each="veranstaltung : ${ausweis.teilnehmendeVeranstaltungenSorted}">
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}" th:text="${veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${veranstaltung.kennung}"></td>
	   						<td th:text="${veranstaltung.name}"></td>
	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(ausweis.teilnehmendeVeranstaltungen)}">
	   					<tr>
	   						<td colspan="2"><center>Keine Veranstaltungen</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Veranstaltungen zu einem Ausweis findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungs-Termine als Teilnehmer</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Termin-Kennung</td>
	   						<td scope="col">Veranstaltungs-Kennung</td>
	   						<td scope="col">Name</td>
	   						<td scope="col">Start</td>
	   						<td scope="col">Ende</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(ausweis.teilnehmendeTermine)}">
	   					<tr th:each="termin : ${ausweis.teilnehmendeTermineSorted}">
	   						<td th:text="${termin.kennung}"></td>
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${termin.veranstaltung.id}" th:text="${termin.veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${termin.veranstaltung.kennung}"></td>
	   						<td th:text="${termin.veranstaltung.name}"></td>
	   						<td th:text="${termin.startFormatted}"></td>
	   						<td th:text="${termin.endeFormatted}"></td>
	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(ausweis.teilnehmendeTermine)}">
	   					<tr>
	   						<td colspan="5"><center>Keine Termine</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Terminen zu einem Ausweis findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungen als Berechtigter</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Kennung</td>
	   						<td scope="col">Name</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(ausweis.berechtigteVeranstaltungen)}">
	   					<tr th:each="veranstaltung : ${ausweis.berechtigteVeranstaltungenSorted}">
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}" th:text="${veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${veranstaltung.kennung}"></td>
	   						<td th:text="${veranstaltung.name}"></td>
	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(ausweis.berechtigteVeranstaltungen)}">
	   					<tr>
	   						<td colspan="2"><center>Keine Veranstaltungen</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Veranstaltungen zu einem Ausweis findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungs-Termine als Berechtigter</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Termin-Kennung</td>
	   						<td scope="col">Veranstaltungs-Kennung</td>
	   						<td scope="col">Name</td>
	   						<td scope="col">Start</td>
	   						<td scope="col">Ende</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(ausweis.berechtigteTermine)}">
	   					<tr th:each="termin : ${ausweis.berechtigteTermineSorted}">
	   						<td th:text="${termin.kennung}"></td>
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${termin.veranstaltung.id}" th:text="${termin.veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${termin.veranstaltung.kennung}"></td>
	   						<td th:text="${termin.veranstaltung.name}"></td>
	   						<td th:text="${termin.startFormatted}"></td>
	   						<td th:text="${termin.endeFormatted}"></td>
	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(ausweis.berechtigteTermine)}">
	   					<tr>
	   						<td colspan="5"><center>Keine Termine</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Terminen zu einem Ausweis findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
	</div>
	
	<div th:fragment="tabelle(ausweise)" id="ausweiseTabelleContainer">
		<div id="ausweiseTabelle"
					th:data-filter-rfid-snr="${filterRfidSnr}" 
					th:data-filter-kennung="${filterKennung}"
					th:data-filter-aktiv="${filterAktiv}"
					th:data-filter-personen="${#strings.listJoin(filterPersonen, ',')}"
					th:data-filter-seite="${filterSeite}"
					th:data-filter-eintraege-je-seite="${filterEintraegeJeSeite}">
		   	<table class="table table-striped">
				<thead>
					<tr>
						<td scope="col" style="width: 30%;">RFID Snr</td>
						<td scope="col" style="width: 30%;">Kennung</td>
						<td scope="col" style="width: 30%;">Person</td>
						<td scope="col" style="width: 10%;">Aktiv</td>
						<td scope="col" style="width: 10%;">Eigenausweis</td>
					</tr>
					<tr>
						<td scope="col"><input type="text" class="form-control" th:value="${filterRfidSnr}" placeholder="Filter: RFID Snr." data-feld="rfidSnr" onChange="ausweiseTabelleFilter(this);" /></td>
						<td scope="col"><input type="text" class="form-control" th:value="${filterKennung}" placeholder="Filter: Kennung" data-feld="kennung" onChange="ausweiseTabelleFilter(this);" /></td>
						<td scope="col">
							<div class="row-fluid">
				  				<select id="personenFilterSelect" multiple="multiple" data-feld="person" title="Filter: Personen" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onchange="ausweiseTabelleFilter(this)">
								    <option th:selected="${filterPersonen.contains('-')}" value="-">Ohne Person</option>
			 						<option th:selected="${filterPersonen.contains(p.id)}" th:each="p : ${personenListe}" th:value="${p.id}" th:data-subtext="${p.kennung}" th:text="${p.vorname} + ' ' + ${p.nachname}"></option>
			 					</select>	
			 				</div>
						</td>
						<td scope="col">
							<div class="row-fluid">
				  				<select id="ausweisFilterAktivSelect" data-feld="aktiv" class="form-control selectpicker" data-show-subtext="false" data-live-search="true" onchange="ausweiseTabelleFilter(this)">
								    <option th:selected="${filterAktiv==-1}" value="-1">Alle</option>
								    <option th:selected="${filterAktiv==1}" value="1">Ja</option>
								    <option th:selected="${filterAktiv==0}" value="0">Nein</option>
			 					</select>	
			 				</div>
			 			</td>
						<td scope="col">
							<div class="row-fluid">
				  				<select id="ausweisFilterEigenausweisSelect" data-feld="eigenausweis" class="form-control selectpicker" data-show-subtext="false" data-live-search="true" onchange="ausweiseTabelleFilter(this)">
								    <option th:selected="${filterEigenausweis==-1}" value="-1">Alle</option>
								    <option th:selected="${filterEigenausweis==1}" value="1">Ja</option>
								    <option th:selected="${filterEigenausweis==0}" value="0">Nein</option>
			 					</select>	
			 				</div>
			 			</td>
					</tr>
				</thead>
				<tbody th:if="${!#lists.isEmpty(ausweise)}">
					<tr th:each="ausweis : ${ausweise}">
						<td sec:authorize="hasAnyRole('ROLE_VERWALTUNG_AUSWEISE','ROLE_ADMINISTRATION')"><a th:href="@{/verwaltung/ausweise/}+${ausweis.rfidSnr}+'/'+${ausweis.kennung}" th:text="${ausweis.rfidSnr}"></a></td>
						<td sec:authorize="!hasAnyRole('ROLE_VERWALTUNG_AUSWEISE','ROLE_ADMINISTRATION')" th:text="${ausweis.rfidSnr}"></td>
						<td th:text="${ausweis.kennung}"></td>
						<td><span th:if="${ausweis.person != null}" th:text="${ausweis.person.vorname} + ' ' + ${ausweis.person.nachname} + ' - ' + ${ausweis.person.kennung}"></span></td>
						<td th:text="${ausweis.aktiv ? 'Ja' : 'Nein'}"></td>
						<td th:text="${ausweis.fremdausweis ? 'Nein' : 'Ja'}"></td>
					</tr>
				</tbody>
				<tbody th:if="${#lists.isEmpty(ausweise)}">
					<tr>
						<td colspan="5"><center>Keine Ausweise</center></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-between">
				<nav>
				  	<ul class="pagination">
				    	<li class="page-item" th:classappend="${filterSeite<= 1}?'disabled':''">
				      		<a data-feld="seite" th:data-seite="${filterSeite-1}" onclick="ausweiseTabelleFilter(this);" class="page-link" href="#" aria-label="Previous">
				        		<span aria-hidden="true">&laquo;</span>
				      		</a>
			    		</li>
				    	<li data-feld="seite" th:data-seite="${s}" onclick="ausweiseTabelleFilter(this);" th:each="s : ${seitenFuerNavigation}" class="page-item" th:classappend="${s == filterSeite}?'active':''"><a class="page-link" href="#" th:text="${s}">1</a></li>
				    	<li class="page-item" th:classappend="${filterSeite >= seitenGesamt}?'disabled':''">
				      		<a data-feld="seite" th:data-seite="${filterSeite+1}" onclick="ausweiseTabelleFilter(this);" class="page-link" href="#" aria-label="Next">
				        		<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
				  	</ul>
				</nav>
				<nav>
				  	<ul class="pagination">
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="10" onclick="ausweiseTabelleFilter(this); return false;" th:classappend="${filterEintraegeJeSeite==10}?'active':''"><a class="page-link" href="#" aria-label="10">10</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="25" onclick="ausweiseTabelleFilter(this); return false;" th:classappend="${filterEintraegeJeSeite==25}?'active':''"><a class="page-link" href="#" aria-label="25">25</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="50" onclick="ausweiseTabelleFilter(this); return false;" th:classappend="${filterEintraegeJeSeite==50}?'active':''"><a class="page-link" href="#" aria-label="50">50</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="100" onclick="ausweiseTabelleFilter(this); return false;" th:classappend="${filterEintraegeJeSeite==100}?'active':''"><a class="page-link" href="#" aria-label="100">100</a></li>
				  	</ul>
				</nav>
			</div>
		</div>
	</div>
</html>