<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	
	<div th:fragment="list">
		
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.deleteSuccess}">Der Benutzer wurde gelöscht.</div>
		<div class="card">
			<div class="card-body">
			
				<div class="d-flex justify-content-between">
				    <h5 class="card-title">Benutzer</h5>
				    <a th:href="@{/verwaltung/benutzer/erstellen}"><button class="btn btn-secondary">Erstellen</button></a>
			    </div>
			    <div th:replace="~{verwaltung/fragments/benutzer :: tabelle(${benutzerList})}"></div>
		 	</div>
		 </div>
	</div>
	
	<div th:fragment="erstellen">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Benutzer erstellen</h5>
			   	<form th:action="@{/verwaltung/benutzer/erstellen}" method="post" th:object="${benutzerErstellen}" onsubmit="return validateBenutzerForm(false);">
			   		<div class="mb-3">
						<label for="benutzername" class="form-label">Benutzername</label>
						<input type="text" th:field="*{benutzername}" class="form-control" id="benutzername">
	  				</div>
			   		<div class="mb-3">
						<label for="passwort" class="form-label">Passwort</label>
						<input type="password" th:field="*{passwort}" class="form-control" id="passwort">
					</div>
			   		<div class="mb-3">
						<div class="row-fluid">
							<label for="berechtigungenSelect" class="form-label">Berechtigungen</label>
			  				<select th:field="*{berechtigungen}" id="berechtigungenSelect" multiple="multiple" class="form-control selectpicker" title="Keine Berechtigung" data-show-subtext="false" data-live-search="true">
							    <option th:each="b : ${T(de.lorenzkock.anwesenheitserfassungserver.data.benutzer.Berechtigung).values()}" th:value="${b.name}" th:text="${b.name}"></option>
		 					</select>	
		 				</div>
					</div>
			   		<div class="mb-3">
						<div class="row-fluid">
							<label for="personSelect" class="form-label">Person</label>
			  				<select th:field="*{personId}" id="personSelect" class="form-control selectpicker" title="Keine Person" data-show-subtext="true" data-live-search="true">
							    <option value="">Keine Person</option>
							    <option  th:each="p : ${personenList}" th:value="${p.id}" th:data-subtext="${p.kennung}" th:text="${p.vorname}+ ' '+${p.nachname}"></option>
		 					</select>	
		 				</div>
					</div>
				  	<button type="submit" class="btn btn-primary">Erstellen</button>
				  	<a th:href="@{/verwaltung/benutzer}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	</div>
	
	<div th:fragment="bearbeiten">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.createSuccess != null}">Der Benutzer wurde angelegt</div>
		<div class="alert alert-success" role="alert" th:if="${param.editSuccess != null}">Der Benutzer wurde bearbeitet</div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Benutzer bearbeiten</h5>
			   	<form th:action="@{/verwaltung/benutzer/}+${benutzerBearbeiten.id}" method="post" th:object="${benutzerBearbeiten}" onsubmit="return validateBenutzerForm(true);">
	  				<div class="mb-3">
						<label for="id" class="form-label">ID</label>
						<input type="text" th:value="${benutzer.id}" class="form-control" id="id" disabled>
	  				</div>
	  				<div class="mb-3">
						<label for="benutzername" class="form-label">Benutzername</label>
						<input type="text" th:field="*{benutzername}" class="form-control" id="benutzername">
	  				</div>
			   		<div class="mb-3">
						<label for="passwort" class="form-label">Passwort</label>
						<input type="password" th:field="*{passwort}" class="form-control" id="passwort" aria-describedby="passwortHelp">
						<div id="passwortHelp" class="form-text">Leer lassen, um Passwort nicht zu ändern.</div>
					</div>
			   		<div class="mb-3">
						<div class="row-fluid">
							<label for="berechtigungenSelect" class="form-label">Berechtigungen</label>
			  				<select th:field="*{berechtigungen}" id="berechtigungenSelect" multiple="multiple" class="form-control selectpicker" title="Keine Berechtigung" data-show-subtext="false" data-live-search="true">
							    <option th:each="b : ${T(de.lorenzkock.anwesenheitserfassungserver.data.benutzer.Berechtigung).values()}" th:value="${b.name}" th:text="${b.name}"></option>
		 					</select>	
		 				</div>
					</div>
			   		<div class="mb-3">
						<div class="row-fluid">
							<label for="personSelect" class="form-label">Person</label>
			  				<select th:field="*{personId}" id="personSelect" class="form-control selectpicker" title="Keine Person" data-show-subtext="true" data-live-search="true">
							    <option value="">Keine Person</option>
							    <option  th:each="p : ${personenList}" th:value="${p.id}" th:data-subtext="${p.kennung}" th:text="${p.vorname}+ ' '+${p.nachname}"></option>
		 					</select>	
		 				</div>
					</div>
				  	<button type="submit" class="btn btn-primary">Speichern</button>
				  	<a th:href="@{/verwaltung/benutzer}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
		 </div>
		 <div class="card mt-5">
		 	<div class="card-body">
			    <h5 class="card-title">Benutzer löschen</h5>
			    <div>
				  	<a onclick="return window.confirm('Soll der Benutzer wirklich gelöscht werden?');" th:href="@{/verwaltung/benutzer/}+${benutzer.id}+'/loeschen'"><button type="button" class="btn btn-danger">Benutzer löschen</button></a>
			   	</div>
		 	</div>
	 	</div>
	</div>
	
	
	<div th:fragment="tabelle(benutzerList)">
	   	<table class="table table-striped">
			<thead>
				<tr>
					<td scope="col">Benutzername</td>
				</tr>
			</thead>
			<tbody th:if="${!#lists.isEmpty(benutzerList)}">
				<tr th:each="benutzer : ${benutzerList}">
					<td sec:authorize="hasRole('ROLE_ADMINISTRATION')"><a th:href="@{/verwaltung/benutzer/}+${benutzer.id}" th:text="${benutzer.benutzername}"></a></td>
					<td sec:authorize="!hasRole('ROLE_ADMINISTRATION')" th:text="${benutzer.benutzername}"></td>
				</tr>
			</tbody>
			<tbody th:if="${#lists.isEmpty(benutzerList)}">
				<tr>
					<td colspan="3"><center>Keine Benutzer</center></td>
				</tr>
			</tbody>
		</table>
	</div>
</html>