<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      lang="de">

<div th:fragment="start">

    <!--/*@thymesVar id="importErgebnis" type="de.lorenzkock.anwesenheitserfassungserver.data.ImportErgebnisCollector"*/-->
    <div class="row" th:if="${importErgebnis != null}">
        <div class="col-12">
            <div th:if="${!importErgebnis.fehlermeldungen.isEmpty()}">
                <div class="alert alert-danger" th:each="fehler : ${importErgebnis.fehlermeldungen}"
                     th:text="${fehler}"></div>
            </div>
            <div th:if="${!importErgebnis.ergebnisse.isEmpty()}">
                <div th:each="ergebnis : ${importErgebnis.ergebnisse}" class="mt-3">
                    <h5>Ergebnis des Imports vom Typ <span th:text="${ergebnis.getObjektTyp().getBezeichnung()}"
                                                           th:remove="tag"></span></h5>
                    <div class="alert alert-success" role="alert" th:text="${ergebnis.getSuccessString()}"></div>
                    <div class="alert alert-danger" role="alert" th:if="${!ergebnis.getFehlermeldungen().isEmpty()}">
                        <div th:each="ergebnisFehler : ${ergebnis.getFehlermeldungen()}"
                             th:text="${ergebnisFehler}"></div>
                    </div>
                    <div class="alert alert-warning" role="alert" th:if="${!ergebnis.getWarnmeldungen().isEmpty()}">
                        <div th:each="ergebnisWarnung : ${ergebnis.getWarnmeldungen()}"
                             th:text="${ergebnisWarnung}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Daten importieren</h5>
                    <!--/*@thymesVar id="uploadConfig" type="de.lorenzkock.anwesenheitserfassungserver.controller.ui.dto.KonfigurationImportDto"*/-->
                    <form th:action="@{/verwaltung/konfiguration/import}" method="post" th:object="${uploadConfig}"
                          enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="raeumeFile" class="form-label">Räume (csv)</label>
                            <input type="file" th:field="*{raeumeFile}" class="form-control" id="raeumeFile">
                        </div>
                        <div class="mb-3">
                            <label for="ausweiseFile" class="form-label">Ausweise (csv)</label>
                            <input type="file" th:field="*{ausweiseFile}" class="form-control"
                                   id="ausweiseFile">
                        </div>
                        <div class="mb-3">
                            <label for="personenFile" class="form-label">Personen (csv)</label>
                            <input type="file" th:field="*{personenFile}" class="form-control" id="personenFile">
                        </div>
                        <div class="mb-3">
                            <label for="veranstaltungenFile" class="form-label">Veranstaltungen (csv)</label>
                            <input type="file" th:field="*{veranstaltungenFile}" class="form-control"
                                   id="veranstaltungenFile">
                        </div>
                        <div class="mb-3">
                            <label for="termineFile" class="form-label">Termine (csv)</label>
                            <input type="file" th:field="*{termineFile}" class="form-control" id="termineFile">
                        </div>
                        <div class="mb-3">
                            <label for="zurodnungenFile" class="form-label">Zuordnungen Personen zu Terminen /
                                Veranstaltungen (csv)</label>
                            <input type="file" th:field="*{zurodnungenFile}" class="form-control" id="zurodnungenFile">
                        </div>
                        <button type="submit" class="btn btn-primary">Importieren</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CIS-Veranstaltung importieren</h5>
                    <!--/*@thymesVar id="uploadConfig" type="de.lorenzkock.anwesenheitserfassungserver.controller.ui.dto.CisImportDto"*/-->
                    <form th:action="@{/verwaltung/konfiguration/import/cis}" method="post"
                          th:object="${uploadCisConfig}"
                          enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="cisFile" class="form-label">Import Veranstaltung, Termine und Teilnehmer aus dem
                                CIS
                                (csv)</label>
                            <input type="file" th:field="*{cisFile}" class="form-control" id="cisFile">
                        </div>
                        <button type="submit" class="btn btn-primary">Importieren</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>