<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	
	<div th:fragment="list">
		
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.deleteSuccess}">Die Person wurde archiviert.</div>
		<div class="card">
			<div class="card-body">
			
				<div class="d-flex justify-content-between">
				    <h5 class="card-title">Personen</h5>
				    <a th:href="@{/verwaltung/personen/erstellen}"><button class="btn btn-secondary">Erstellen</button></a>
			    </div>
			    <div th:replace="~{verwaltung/fragments/person :: tabelle(${personen})}"></div>
		 	</div>
		 </div>
	</div>
	
	<div th:fragment="erstellen">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Person erstellen</h5>
			   	<form th:action="@{/verwaltung/personen/erstellen}" method="post" th:object="${personErstellen}" onsubmit="return validatePersonForm();">
			   		<div class="mb-3">
						<label for="vorname" class="form-label">Vorname</label>
						<input type="text" th:field="*{vorname}" class="form-control" id="vorname">
	  				</div>
			   		<div class="mb-3">
						<label for="nachname" class="form-label">Nachname</label>
						<input type="text" th:field="*{nachname}" class="form-control" id="nachname">
					</div>
			   		<div class="mb-3">
						<label for="kennung" class="form-label">Kennung</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="kennung" aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
				  	<button type="submit" class="btn btn-primary">Erstellen</button>
				  	<a th:href="@{/verwaltung/personen}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	</div>
	
	<div th:fragment="bearbeiten">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.createSuccess != null}">Die Person wurde angelegt</div>
		<div class="alert alert-success" role="alert" th:if="${param.editSuccess != null}">Die Person wurde bearbeitet</div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Person bearbeiten</h5>
			   	<form th:action="@{/verwaltung/personen/}+${personBearbeiten.id}" method="post" th:object="${personBearbeiten}" onsubmit="return validatePersonForm();">
	  				<div class="mb-3">
						<label for="id" class="form-label">ID</label>
						<input type="text" th:value="${person.id}" class="form-control" id="id" disabled>
	  				</div>
	  				<div class="mb-3">
						<label for="vorname" class="form-label">Vorname</label>
						<input type="text" th:field="*{vorname}" class="form-control" id="vorname">
	  				</div>
			   		<div class="mb-3">
						<label for="nachname" class="form-label">Nachname</label>
						<input type="text" th:field="*{nachname}" class="form-control" id="nachname">
					</div>
			   		<div class="mb-3">
						<label for="kennung" class="form-label">Kennung</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="kennung" aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
				  	<button type="submit" class="btn btn-primary">Speichern</button>
				  	<a th:href="@{/verwaltung/personen}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Zugewiesene Ausweise</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">RFID Snr</td>
	   						<td scope="col">Kennung</td>
	   						<td scope="col">Aktiv</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(person.ausweise)}">
	   					<tr th:each="ausweis : ${person.ausweiseSorted}">
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_AUSWEISE')"><a th:href="@{/verwaltung/ausweise/}+${ausweis.rfidSnr}+'/'+${ausweis.kennung}" th:text="${ausweis.rfidSnr}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_AUSWEISE')" th:text="${ausweis.rfidSnr}"></td>
	   						<td th:text="${ausweis.kennung}"></td>
	   						<td th:text="${ausweis.aktiv ? 'Ja' : 'Nein'}"></td>
	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(person.ausweise)}">
	   					<tr>
	   						<td colspan="3"><center>Keine Ausweise</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Ausweisen zu einer Person findet über die Verwaltung der Ausweise statt.
				</p>
		  	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungen als Teilnehmer</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Kennung</td>
	   						<td scope="col">Name</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(person.teilnehmendeVeranstaltungen)}">
	   					<tr th:each="veranstaltung : ${person.teilnehmendeVeranstaltungenSorted}">
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}" th:text="${veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${veranstaltung.kennung}"></td>
	   						<td th:text="${veranstaltung.name}"></td>
	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(person.teilnehmendeVeranstaltungen)}">
	   					<tr>
	   						<td colspan="2"><center>Keine Veranstaltungen</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Veranstaltungen zu einer Person findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungs-Termine als Teilnehmer</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Termin-Kennung</td>
	   						<td scope="col">Veranstaltungs-Kennung</td>
	   						<td scope="col">Name</td>
	   						<td scope="col">Start</td>
	   						<td scope="col">Ende</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(person.teilnehmendeTermine)}">
	   					<tr th:each="termin : ${person.teilnehmendeTermineSorted}">
	   						<td th:text="${termin.kennung}"></td>
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${termin.veranstaltung.id}" th:text="${termin.veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${termin.veranstaltung.kennung}"></td>
	   						<td th:text="${termin.veranstaltung.name}"></td>	   						
	   						<td th:text="${termin.startFormatted}"></td>
	   						<td th:text="${termin.endeFormatted}"></td>

	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(person.teilnehmendeTermine)}">
	   					<tr>
	   						<td colspan="5"><center>Keine Termine</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Terminen zu einer Person findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungen als Berechtigter</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Kennung</td>
	   						<td scope="col">Name</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(person.berechtigteVeranstaltungen)}">
	   					<tr th:each="veranstaltung : ${person.berechtigteVeranstaltungenSorted}">
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}" th:text="${veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${veranstaltung.kennung}"></td>
	   						<td th:text="${veranstaltung.name}"></td>
	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(person.berechtigteVeranstaltungen)}">
	   					<tr>
	   						<td colspan="2"><center>Keine Veranstaltungen</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Veranstaltungen zu einer Person findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
	 	
	 	<div class="card mt-5">
		 	<div class="card-body">
		    	<h5 class="card-title">Veranstaltungs-Termine als Berechtigter</h5>
		    	<table class="table table-striped">
	   				<thead>
	   					<tr>
	   						<td scope="col">Termin-Kennung</td>
	   						<td scope="col">Veranstaltungs-Kennung</td>
	   						<td scope="col">Name</td>
	   						<td scope="col">Start</td>
	   						<td scope="col">Ende</td>
	   					</tr>
	   				</thead>
	   				<tbody th:if="${!#lists.isEmpty(person.berechtigteTermine)}">
	   					<tr th:each="termin : ${person.berechtigteTermineSorted}">	   						
	   						<td th:text="${termin.kennung}"></td>
	   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')"><a th:href="@{/verwaltung/veranstaltungen/}+${termin.veranstaltung.id}" th:text="${termin.veranstaltung.kennung}"></a></td>
	   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_VERANSTALTUNGEN')" th:text="${termin.veranstaltung.kennung}"></td>
	   						<td th:text="${termin.veranstaltung.name}"></td>	   						
	   						<td th:text="${termin.startFormatted}"></td>
	   						<td th:text="${termin.endeFormatted}"></td>

	   					</tr>
	   				</tbody>
	   				<tbody th:if="${#lists.isEmpty(person.berechtigteTermine)}">
	   					<tr>
	   						<td colspan="5"><center>Keine Termine</center></td>
	   					</tr>
	   				</tbody>
				</table>
				<p>
					Die Zuweisung von Terminen zu einer Person findet über die Verwaltung der Veranstaltungen statt.
				</p>
		  	</div>
	 	</div>
		<div class="card mt-5" th:if="${!person.isArchiv}">
		 	<div class="card-body">
			    <h5 class="card-title">Person archivieren</h5>
			    <div>
				  	<a onclick="return window.confirm('Soll die Person wirklich archiviert werden?');" th:href="@{/verwaltung/personen/}+${person.id}+'/archivieren'"><button type="button" class="btn btn-danger">Person archivieren</button></a>
			   	</div>
		 	</div>
	 	</div>
	</div>
	
	
	<div th:fragment="tabelle(personen)" id="personenTabelleContainer" >
		<div id="personenTabelle"
				th:data-filter-kennung="${filterKennung}"
				th:data-filter-vorname="${filterVorname}" 
				th:data-filter-nachname="${filterNachname}"
				th:data-filter-seite="${filterSeite}"
				th:data-filter-archiv="${filterArchiv}"
				th:data-filter-eintraege-je-seite="${filterEintraegeJeSeite}">
		   	<table class="table table-striped" >
				<thead>
					<tr>
						<td scope="col" style="width: 40%;">Kennung</td>
						<td scope="col" style="width: 30%;">Nachname</td>
						<td scope="col" style="width: 30%;">Vorname</td>
			   			<td scope="col" style="width: 10%;">Archiviert</td>
					</tr>
					<tr>
						<td scope="col"><input type="text" class="form-control" th:value="${filterKennung}" placeholder="Filter: Kennung" data-feld="kennung" onChange="personenTabelleFilter(this);" /></td>
						<td scope="col"><input type="text" class="form-control" th:value="${filterNachname}" placeholder="Filter: Nachname" data-feld="nachname" onChange="personenTabelleFilter(this);" /></td>
						<td scope="col"><input type="text" class="form-control" th:value="${filterVorname}" placeholder="Filter: Vorname" data-feld="vorname" onChange="personenTabelleFilter(this);" /></td>
						<td>
							<div class="row-fluid">
				  				<select id="personenFilterArchivSelect" data-feld="archiv" class="form-control selectpicker" data-show-subtext="false" data-live-search="true" onchange="personenTabelleFilter(this)">
								    <option th:selected="${filterArchiv==-1}" value="-1">Alle</option>
								    <option th:selected="${filterArchiv==1}" value="1">Ja</option>
								    <option th:selected="${filterArchiv==0}" value="0">Nein</option>
			 					</select>	
			 				</div>
						</td>
					</tr>
				</thead>
				<tbody th:if="${!#lists.isEmpty(personen)}">
					<tr th:each="person : ${personen}">
						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_PERSONEN')"><a th:href="@{/verwaltung/personen/}+${person.id}" th:text="${person.kennung}"></a></td>
						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_PERSONEN')" th:text="${person.kennung}"></td>
						<td th:text="${person.nachname}"></td>
						<td th:text="${person.vorname}"></td>
						<td th:text="${person.isArchiv?'Ja':'Nein'}"></td>
					</tr>
				</tbody>
				<tbody th:if="${#lists.isEmpty(personen)}">
					<tr>
						<td colspan="4"><center>Keine Personen</center></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-between">
				<nav>
				  	<ul class="pagination">
				    	<li class="page-item" th:classappend="${filterSeite<= 1}?'disabled':''">
				      		<a data-feld="seite" th:data-seite="${filterSeite-1}" onclick="personenTabelleFilter(this);" class="page-link" href="#" aria-label="Previous">
				        		<span aria-hidden="true">&laquo;</span>
				      		</a>
			    		</li>
				    	<li th:each="s : ${seitenFuerNavigation}" class="page-item" th:classappend="${s == filterSeite}?'active':''"><a data-feld="seite" th:data-seite="${s}" onclick="personenTabelleFilter(this);" class="page-link" href="#" th:text="${s}">1</a></li>
				    	<li class="page-item" th:classappend="${filterSeite >= seitenGesamt}?'disabled':''">
				      		<a data-feld="seite" th:data-seite="${filterSeite+1}" onclick="personenTabelleFilter(this);" class="page-link" href="#" aria-label="Next">
				        		<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
				  	</ul>
				</nav>
				<nav>
				  	<ul class="pagination">
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="10" onclick="personenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==10}?'active':''"><a class="page-link" href="#" aria-label="10">10</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="25" onclick="personenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==25}?'active':''"><a class="page-link" href="#" aria-label="25">25</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="50" onclick="personenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==50}?'active':''"><a class="page-link" href="#" aria-label="50">50</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="100" onclick="personenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==100}?'active':''"><a class="page-link" href="#" aria-label="100">100</a></li>
				  	</ul>
				</nav>
			</div>
		</div>
	</div>
</html>