<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	
	<div th:fragment="list">
		
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.deleteSuccess}">Der Raum wurde archiviert.</div>
		<div class="card">
			<div class="card-body">
			
				<div class="d-flex justify-content-between">
				    <h5 class="card-title">Räume</h5>
				    <a th:href="@{/verwaltung/raeume/erstellen}"><button class="btn btn-secondary">Erstellen</button></a>
			    </div>
			    <div th:replace="~{verwaltung/fragments/raum :: tabelle(${raeume})}"></div>
		 	</div>
		 </div>
	</div>
	
	<div th:fragment="erstellen">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Raum erstellen</h5>
			   	<form th:action="@{/verwaltung/raeume/erstellen}" method="post" th:object="${raumErstellen}" onsubmit="return validateRaumForm();">
			   		<div class="mb-3">
						<label for="bezeichnung" class="form-label">Bezeichnung</label>
						<input type="text" th:field="*{bezeichnung}" class="form-control" id="bezeichnung">
	  				</div>
			   		<div class="mb-3">
						<label for="kennung" class="form-label">Kennung</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="kennung" aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
				  	<button type="submit" class="btn btn-primary">Erstellen</button>
				  	<a th:href="@{/verwaltung/raeume}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	</div>
	
	<div th:fragment="bearbeiten">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.createSuccess != null}">Der Raum wurde angelegt</div>
		<div class="alert alert-success" role="alert" th:if="${param.editSuccess != null}">Der Raum wurde bearbeitet</div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Raum bearbeiten</h5>
			   	<form th:action="@{/verwaltung/raeume/}+${raumBearbeiten.id}" method="post" th:object="${raumBearbeiten}" onsubmit="return validateRaumForm();">
	  				<div class="mb-3">
						<label for="id" class="form-label">ID</label>
						<input type="text" th:value="${raum.id}" class="form-control" id="id" disabled>
	  				</div>
	  				<div class="mb-3">
						<label for="bezeichnung" class="form-label">Bezeichnung</label>
						<input type="text" th:field="*{bezeichnung}" class="form-control" id="bezeichnung">
	  				</div>
			   		<div class="mb-3">
						<label for="kennung" class="form-label">Kennung</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="kennung" aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
				  	<button type="submit" class="btn btn-primary">Speichern</button>
				  	<a th:href="@{/verwaltung/raeume}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
		<div class="card mt-5" th:if="${!raum.isArchiv}">
		 	<div class="card-body">
			    <h5 class="card-title">Raum archivieren</h5>
			    <div>
				  	<a onclick="return window.confirm('Soll der Raum wirklich archiviert werden?');" th:href="@{/verwaltung/raeume/}+${raum.id}+'/archivieren'"><button type="button" class="btn btn-danger">Raum archivieren</button></a>
			   	</div>
		 	</div>
	 	</div>
	</div>
	
	
	<div th:fragment="tabelle(raeume)" id="raeumeTabelleContainer" >
		<div id="raeumeTabelle"
				th:data-filter-kennung="${filterKennung}"
				th:data-filter-bezeichnung="${filterBezeichnung}" 
				th:data-filter-seite="${filterSeite}"
				th:data-filter-archiv="${filterArchiv}"
				th:data-filter-eintraege-je-seite="${filterEintraegeJeSeite}">
		   	<table class="table table-striped" >
				<thead>
					<tr>
						<td scope="col" style="width: 40%;">Kennung</td>
						<td scope="col" style="width: 30%;">Bezeichnung</td>
			   			<td scope="col" style="width: 10%;">Archiviert</td>
					</tr>
					<tr>
						<td scope="col"><input type="text" class="form-control" th:value="${filterKennung}" placeholder="Filter: Kennung" data-feld="kennung" onChange="raeumeTabelleFilter(this);" /></td>
						<td scope="col"><input type="text" class="form-control" th:value="${filterBezeichnung}" placeholder="Filter: Bezeichnung" data-feld="bezeichnung" onChange="raeumeTabelleFilter(this);" /></td>
						<td>
							<div class="row-fluid">
				  				<select id="raeumeFilterArchivSelect" data-feld="archiv" class="form-control selectpicker" data-show-subtext="false" data-live-search="true" onchange="raeumeTabelleFilter(this)">
								    <option th:selected="${filterArchiv==-1}" value="-1">Alle</option>
								    <option th:selected="${filterArchiv==1}" value="1">Ja</option>
								    <option th:selected="${filterArchiv==0}" value="0">Nein</option>
			 					</select>	
			 				</div>
						</td>
					</tr>
				</thead>
				<tbody th:if="${!#lists.isEmpty(raeume)}">
					<tr th:each="raum : ${raeume}">
						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_RAEUME')"><a th:href="@{/verwaltung/raeume/}+${raum.id}" th:text="${raum.kennung}"></a></td>
						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_RAEUME')" th:text="${raum.kennung}"></td>
						<td th:text="${raum.bezeichnung}"></td>
						<td th:text="${raum.isArchiv?'Ja':'Nein'}"></td>
					</tr>
				</tbody>
				<tbody th:if="${#lists.isEmpty(raeume)}">
					<tr>
						<td colspan="3"><center>Keine Räume</center></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-between">
				<nav>
				  	<ul class="pagination">
				    	<li class="page-item" th:classappend="${filterSeite<= 1}?'disabled':''">
				      		<a data-feld="seite" th:data-seite="${filterSeite-1}" onclick="raeumeTabelleFilter(this);" class="page-link" href="#" aria-label="Previous">
				        		<span aria-hidden="true">&laquo;</span>
				      		</a>
			    		</li>
				    	<li th:each="s : ${seitenFuerNavigation}" class="page-item" th:classappend="${s == filterSeite}?'active':''"><a data-feld="seite" th:data-seite="${s}" onclick="raeumeTabelleFilter(this);" class="page-link" href="#" th:text="${s}">1</a></li>
				    	<li class="page-item" th:classappend="${filterSeite >= seitenGesamt}?'disabled':''">
				      		<a data-feld="seite" th:data-seite="${filterSeite+1}" onclick="raeumeTabelleFilter(this);" class="page-link" href="#" aria-label="Next">
				        		<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
				  	</ul>
				</nav>
				<nav>
				  	<ul class="pagination">
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="10" onclick="raeumeTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==10}?'active':''"><a class="page-link" href="#" aria-label="10">10</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="25" onclick="raeumeTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==25}?'active':''"><a class="page-link" href="#" aria-label="25">25</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="50" onclick="raeumeTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==50}?'active':''"><a class="page-link" href="#" aria-label="50">50</a></li>
				    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="100" onclick="raeumeTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==100}?'active':''"><a class="page-link" href="#" aria-label="100">100</a></li>
				  	</ul>
				</nav>
			</div>
		</div>
	</div>
</html>