<div th:fragment="bearbeiten" th:remove="tag">		
	<div class="modal-content">
		<form th:action="@{/verwaltung/veranstaltungen/}+${veranstaltungId}+'/termin/bearbeiten'" method="post" th:object="${terminBearbeiten}">	
			<div class="modal-header">
				<h5 class="modal-title">Termin bearbeiten</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" style="display: none;" role="alert" id="validationErrorTerminBearbeiten"></div>
		    	<input type="hidden" th:field="*{id}" />
				<div class="row">			
				   	<div class="col-lg-12">
						<label for="terminBearbeitenKennung" class="form-label">Kennung des Termins</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="terminErstellenKennung" aria-describedby="kennungHelp" disabled>
						<div id="kennungHelp" class="form-text">Wird ggf. generiert. Für Zuordnung in einem Fremdsystem.</div>
					</div>
		    	</div>
				<div class="row mt-3">	
				   	<div class="col-lg-12">
						<label for="terminBearbeitenStart" class="form-label">Start</label>
						<input type="text" th:field="*{start}" class="form-control" id="terminBearbeitenStart" aria-describedby="startHelp">
						<div id="startHelp" class="form-text">Format: dd.MM.yyyy HH:mm</div>
					</div>
		    	</div>
				<div class="row mt-3">	
				   	<div class="col-lg-12">
						<label for="terminBearbeitenEnde" class="form-label">Ende</label>
						<input type="text" th:field="*{ende}" class="form-control" id="terminBearbeitenEnde" aria-describedby="endeHelp">
						<div id="endeHelp" class="form-text">Format: dd.MM.yyyy HH:mm</div>
					</div>	
		    	</div>
				<div class="row mt-3">	
				   	<div class="col-lg-12">					   	
					    <div class="row-fluid">
							<label for="terminBearbeitenRaumSelect" class="form-label">Raum</label>
			  				<select th:field="*{raumIds}" id="terminBearbeitenRaumSelect" multiple="multiple" title="Keine Räume" class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
							    <option th:each="r : ${raeumeListe}" th:value="${r.id}" th:data-subtext="${r.kennung}" th:text="${r.bezeichnung}"></option>
		 					</select>	
		 				</div>
					</div>		
				</div>	
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
				<button type="submit" class="btn btn-primary" onclick="return validateTerminBearbeitenForm();">Speichern</button>
			</div>
		</form>
	</div>
</div>

<div th:fragment="info(termin)">

	<div class="card">
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-md-6">
					<h5>Ausgewählter Termin</h5>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-6">
					<h6>Zeitraum des Termins</h6>
					<div th:text="${termin.zeitraumFormatted}"></div>
				</div>
				<div class="col-md-6">
					<h6>Räume</h6>
					<div th:text="${termin.raeumeString}"></div>
				</div>
			</div>
		</div>
	</div>


</div>
