<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	
	<div th:fragment="list">
		
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.deleteSuccess}">Die Veranstaltung wurde archiviert.</div>
		<div class="card">
			<div class="card-body">
			
				<div class="d-flex justify-content-between">
				    <h5 class="card-title">Veranstaltungen</h5>
				    <a th:href="@{/verwaltung/veranstaltungen/erstellen}"><button class="btn btn-secondary">Erstellen</button></a>
			    </div>
			    <div id="veranstaltungenTabelleContainer">
				    <div id="veranstaltungenTabelle"
						th:data-filter-kennung="${filterKennung}"
						th:data-filter-name="${filterName}"
						th:data-filter-archiv="${filterArchiv}"
						th:data-filter-seite="${filterSeite}"
						th:data-filter-eintraege-je-seite="${filterEintraegeJeSeite}">
					   	<table class="table table-striped">
			   				<thead>
			   					<tr>
			   						<td scope="col" style="width: 30%;">Kennung</td>
			   						<td scope="col" style="width: 20%;">Name</td>
			   						<td scope="col" style="width: 10%;">Archiviert</td>
			   					</tr>
								<tr>
									<td scope="col"><input type="text" class="form-control" th:value="${filterKennung}" placeholder="Filter: Kennung" data-feld="kennung" onChange="veranstaltungenTabelleFilter(this);" /></td>
									<td scope="col"><input type="text" class="form-control" th:value="${filterName}" placeholder="Filter: Name" data-feld="name" onChange="veranstaltungenTabelleFilter(this);" /></td>
									<td>
										<div class="row-fluid">
							  				<select id="veranstaltungenFilterArchivSelect" data-feld="archiv" class="form-control selectpicker" data-show-subtext="false" data-live-search="true" onchange="veranstaltungenTabelleFilter(this)">
											    <option th:selected="${filterArchiv==-1}" value="-1">Alle</option>
											    <option th:selected="${filterArchiv==1}" value="1">Ja</option>
											    <option th:selected="${filterArchiv==0}" value="0">Nein</option>
						 					</select>	
						 				</div>
									</td>
								</tr>
			   				</thead>
			   				<tbody th:if="${!#lists.isEmpty(veranstaltungen)}">
			   					<tr th:each="veranstaltung : ${veranstaltungen}">
			   						<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','VERWALTUNG_VERANSTALTUNGEN')" ><a th:href="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}"th:text="${veranstaltung.kennung}"></a></td>
			   						<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','VERWALTUNG_VERANSTALTUNGEN')" th:text="${veranstaltung.kennung}"></td>
			   						<td th:text="${veranstaltung.name}"></td>
			   						<td th:text="${veranstaltung.isArchiv ? 'Ja' : 'Nein'}"></td>
			   					</tr>
			   				</tbody>
			   				<tbody th:if="${#lists.isEmpty(veranstaltungen)}">
			   					<tr>
			   						<td colspan="3"><center>Keine Veranstaltungen</center></td>
			   					</tr>
			   				</tbody>
						</table>
						<div class="d-flex justify-content-between">
							<nav>
							  	<ul class="pagination">
							    	<li class="page-item" th:classappend="${filterSeite<= 1}?'disabled':''">
							      		<a data-feld="seite" th:data-seite="${filterSeite-1}" onclick="veranstaltungenTabelleFilter(this);" class="page-link" href="#" aria-label="Previous">
							        		<span aria-hidden="true">&laquo;</span>
							      		</a>
						    		</li>
							    	<li th:each="s : ${seitenFuerNavigation}" class="page-item" th:classappend="${s == filterSeite}?'active':''"><a data-feld="seite" th:data-seite="${s}" onclick="veranstaltungenTabelleFilter(this);" class="page-link" href="#" th:text="${s}">1</a></li>
							    	<li class="page-item" th:classappend="${filterSeite >= seitenGesamt}?'disabled':''">
							      		<a data-feld="seite" th:data-seite="${filterSeite+1}" onclick="veranstaltungenTabelleFilter(this);" class="page-link" href="#" aria-label="Next">
							        		<span aria-hidden="true">&raquo;</span>
							      		</a>
							    	</li>
							  	</ul>
							</nav>
							<nav>
							  	<ul class="pagination">
							    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="10" onclick="veranstaltungenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==10}?'active':''"><a class="page-link" href="#" aria-label="10">10</a></li>
							    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="25" onclick="veranstaltungenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==25}?'active':''"><a class="page-link" href="#" aria-label="25">25</a></li>
							    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="50" onclick="veranstaltungenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==50}?'active':''"><a class="page-link" href="#" aria-label="50">50</a></li>
							    	<li class="page-item" data-feld="eintraegeJeSeite" data-eintraege-je-seite="100" onclick="veranstaltungenTabelleFilter(this); return false;"  th:classappend="${filterEintraegeJeSeite==100}?'active':''"><a class="page-link" href="#" aria-label="100">100</a></li>
							  	</ul>
							</nav>
						</div>
				 	</div>
				 </div>
			 </div>
		 </div>
	</div>
	
	<div th:fragment="erstellen">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Veranstaltung erstellen</h5>
			   	<form th:action="@{/verwaltung/veranstaltungen/erstellen}" method="post" th:object="${veranstaltungErstellen}" onsubmit="return validateVeranstaltungForm()">
			   		<div class="mb-3">
						<label for="veranstaltungName" class="form-label">Name der Veranstaltung</label>
						<input type="text" th:field="*{name}" class="form-control" id="veranstaltungName">
	  				</div>
			   		<div class="mb-3">
						<label for="veranstaltungKennung" class="form-label">Kennung der Veranstaltung</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="veranstaltungKennung" aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{erlaubeFremdausweis}" id="fremdAusweiseZulassen">
	    					<label class="form-check-label" for="fremdAusweiseZulassen">
	      						Fremdausweise zulassen
	    					</label>
	  					</div>
				    </div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{fremdausweisBestaetigen}" id="fremdAusweiseBestaetigen">
	    					<label class="form-check-label" for="fremdAusweiseBestaetigen">
	      						Fremdausweise durch Berechtigte bestätigen
	    					</label>
	  					</div>
				    </div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{erlaubeEinUndAusgehendeBuchungen}" id="erlaubeEinUndAusgehendeBuchungen">
	    					<label class="form-check-label" for="erlaubeEinUndAusgehendeBuchungen">
	      						Unterscheidung ein- und ausgehende Erfassungen
	    					</label>
	  					</div>
				    </div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{erlaubeMehrfachBuchungen}" id="erlaubeMehrfachBuchungen">
	    					<label class="form-check-label" for="erlaubeMehrfachBuchungen">
	      						Mehrfachbuchungen zulassen
	    					</label>
	  					</div>
				    </div>
				  	<button type="submit" class="btn btn-primary">Erstellen</button>
				  	<a th:href="@{/verwaltung/veranstaltungen}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	</div>
	
	<div th:fragment="info(veranstaltung)">
	
		<div class="card">
			<div class="card-body">
		   		<div class="row mb-3">
			   		<div class="col-md-6">
						<h5 th:text="${veranstaltung.name}"></h5>
	  				</div>
	  			</div>
	  			<div class="row mb-3">
			   		<div class="col-md-6">
						<h6>Kennung der Veranstaltung</h3>
						<div th:text="${veranstaltung.kennung}"></div>
	  				</div>
	  			</div>
		   		<div class="row mb-3">
			   		<div class="col-md-3">
						<h6>Fremdausweise erlaubt</h3>
						<div th:text="${veranstaltung.erlaubeFremdausweis ? 'Ja' : 'Nein'}"></div>
	  				</div>
			   		<div class="col-md-3">
						<h6>Fremdausweise bestätigen</h3>
						<div th:text="${veranstaltung.fremdausweisBestaetigen ? 'Ja' : 'Nein'}"></div>
	  				</div>
			   		<div class="col-md-3">
						<h6>Ein- und Ausgehende Erfassung</h3>
						<div th:text="${veranstaltung.erlaubeEinUndAusgehendeBuchungen ? 'Ja' : 'Nein'}"></div>
	  				</div>
			   		<div class="col-md-3">
						<h6>Mehrfachbuchungen erlaubt</h3>
						<div th:text="${veranstaltung.erlaubeMehrfachBuchungen ? 'Ja' : 'Nein'}"></div>
	  				</div>
	  			</div>
		 	</div>
	 	</div>
	 
		
	</div>
	<div th:fragment="bearbeiten">
	
		<div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-danger" role="alert" th:if="${param.deleteTerminError != null}" th:text="${param.deleteTerminError}"></div>
		<div class="alert alert-danger" role="alert" th:if="${param.editTerminError != null}" th:text="${param.editTerminError}"></div>
		<div class="alert alert-success" role="alert" th:if="${param.createSuccess != null}">Die Veranstaltung wurde angelegt</div>
		<div class="alert alert-success" role="alert" th:if="${param.createTerminSuccess != null}">Der Termin wurde angelegt</div>
		<div class="alert alert-success" role="alert" th:if="${param.editTerminSuccess != null}">Der Termin wurde bearbeitet</div>
		<div class="alert alert-success" role="alert" th:if="${param.deleteTerminSuccess != null}">Der Termin wurde gelöscht</div>
		<div class="alert alert-success" role="alert" th:if="${param.editSuccess != null}">Die Veranstaltung wurde bearbeitet</div>
		<div class="alert alert-danger" style="display: none;" role="alert" id="validationError"></div>
		
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Veranstaltung bearbeiten</h5>
			   	<form th:action="@{/verwaltung/veranstaltungen/}+${veranstaltungBearbeiten.id}" method="post" th:object="${veranstaltungBearbeiten}" onsubmit="return validateVeranstaltungForm()">
			   		<div class="mb-3">
						<label for="veranstaltungName" class="form-label">Name der Veranstaltung</label>
						<input type="text" th:field="*{name}" class="form-control" id="veranstaltungName">
	  				</div>
			   		<div class="mb-3">
						<label for="veranstaltungKennung" class="form-label">Kennung der Veranstaltung</label>
						<input type="text" th:field="*{kennung}" class="form-control" id="veranstaltungKennung" aria-describedby="kennungHelp">
						<div id="kennungHelp" class="form-text">Dient zur Zuordnung in Fremdsystem. Wird generiert, wenn nicht angegeben wird. Kann nur einmalig vergeben werden.</div>
	  				</div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{erlaubeFremdausweis}" id="fremdAusweiseZulassen">
	    					<label class="form-check-label" for="fremdAusweiseZulassen">
	      						Fremdausweise zulassen
	    					</label>
	  					</div>
				    </div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{fremdausweisBestaetigen}" id="fremdAusweiseBestaetigen">
	    					<label class="form-check-label" for="fremdAusweiseBestaetigen">
	      						Fremdausweise durch Berechtigte bestätigen
	    					</label>
	  					</div>
				    </div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{erlaubeEinUndAusgehendeBuchungen}" id="erlaubeEinUndAusgehendeBuchungen">
	    					<label class="form-check-label" for="erlaubeEinUndAusgehendeBuchungen">
	      						Unterscheidung ein- und ausgehende Erfassungen
	    					</label>
	  					</div>
				    </div>
				    <div class="mb-3">
						<div class="form-check">
	    					<input class="form-check-input" type="checkbox" value="1" th:field="*{erlaubeMehrfachBuchungen}" id="erlaubeMehrfachBuchungen">
	    					<label class="form-check-label" for="erlaubeMehrfachBuchungen">
	      						Mehrfachbuchungen zulassen
	    					</label>
	  					</div>
				    </div>
				  	<button type="submit" class="btn btn-primary">Speichern</button>
				  	<a th:href="@{/verwaltung/veranstaltungen}"><button type="button" class="btn btn-danger">Abbrechen</button></a>
			   	
			   	</form>
		 	</div>
	 	</div>
	 	
	 	<div class="row mt-5">
			<div class="col-md-12">
			 	<div class="card">
					<div class="card-body">
					    <h5 class="card-title">Termine</h5>
					    
					    <form th:action="@{/verwaltung/veranstaltungen/}+${veranstaltungBearbeiten.id}+'/termin'" method="post" th:object="${terminErstellen}">
							<div class="row">
							
							   	<div class="col-lg-2">
									<label for="terminErstellenKennung" class="form-label">Kennung des Termins</label>
									<input type="text" th:field="*{kennung}" class="form-control" id="terminErstellenKennung" aria-describedby="kennungHelp">
									<div id="kennungHelp" class="form-text">Wird ggf. generiert. Für Zuordnung in einem Fremdsystem.</div>
				  				</div>
							   	<div class="col-lg-3">
									<label for="terminErstellenStart" class="form-label">Start</label>
									<input type="text" th:field="*{start}" class="form-control" id="terminErstellenStart" aria-describedby="startHelp">
									<div id="startHelp" class="form-text">Format: dd.MM.yyyy HH:mm</div>
				  				</div>
							   	<div class="col-lg-3">
									<label for="terminErstellenEnde" class="form-label">Ende</label>
									<input type="text" th:field="*{ende}" class="form-control" id="terminErstellenEnde" aria-describedby="endeHelp">
									<div id="endeHelp" class="form-text">Format: dd.MM.yyyy HH:mm</div>
				  				</div>	
							   	<div class="col-lg-2">					   	
								    <div class="row-fluid">
										<label for="terminErstellenRaum" class="form-label">Raum</label>
						  				<select th:field="*{raumIds}" id="terminErstellenRaum" multiple="multiple" title="Keine Räume" class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
										    <option th:each="r : ${raeumeListe}" th:value="${r.id}" th:data-subtext="${r.kennung}" th:text="${r.bezeichnung}"></option>
					 					</select>	
					 				</div>
				 				</div>	
							   	<div class="col-lg-2">
									<label for="terminErstellenSubmit" class="form-label">&nbsp;</label>
				  					<button type="submit" id="terminErstellenSubmit" class="btn btn-primary form-control" onclick="return validateTerminErstellenForm();">Hinzufügen</button>									
				  				</div>
			 				</div>	
		 				</form>
			 			<hr />
					    <table class="table table-striped">
							<thead>
								<tr>
									<td scope="col">Kennung</td>
									<td scope="col">Start</td>
									<td scope="col">Ende</td>
									<td scope="col">Raum</td>
									<td scope="col"></td>
								</tr>
							</thead>
							<tbody th:style="${#lists.isEmpty(veranstaltung.termine) ? 'display: none;' : ''}">
								<tr th:each="termin : ${veranstaltung.termineSorted}">
									<td> <a href="#" th:onclick="editTermin(this); return false;" th:data-termin-id="${termin.id}" th:text="${termin.kennung}"></a></td>
									<td th:text="${termin.startFormatted}"></td>
									<td th:text="${termin.endeFormatted}"></td>
									<td th:text="${termin.raeumeString}"></td>
									<td th:if="${termin.kannLoeschen}">
										<a th:href="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}+'/termin/'+${termin.id}+'/loeschen'" onclick="return window.confirm('Bitte das Löschen des Termins bestätigen.');">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
											</svg>
										</a>
									</td>
									<td th:if="${!termin.kannLoeschen}"></td>
								</tr>
							</tbody>
							<tbody th:style="${#lists.isEmpty(veranstaltung.termine) ? '' : 'display: none;'}">
								<tr>
									<td colspan="5"><center>Keine Termine</center></td>
								</tr>
							</tbody>
						</table>
				 	</div>
			 	</div>
			 	<div class="modal" tabindex="-1" id="editTerminModal">
					<div class="modal-dialog" id="editTerminModalContent">
						
					</div>
				</div>
			</div>
		</div>
			
	 	<div class="row mt-5">
			<div class="col-md-6">
			 	<div class="card">
					<div class="card-body">
					    <h5 class="card-title">Teilnehmende Ausweise</h5>
					   	<div>
						    <div class="row-fluid">
								<label for="teilnehmendeAusweiseBearbeitenSelect" class="form-label">Ausweis hinzufügen</label>
				  				<select id="teilnehmendeAusweiseBearbeitenSelect" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onchange="fuegeAusweisHinzu('teilnehmendeAusweiseBearbeitenSelect', 'teilnehmendeAusweiseBearbeitenTable', 'teilnehmendeAusweiseBearbeitenForm','keineTeilnehmendenAusweise')">
								    <option value="" data-subtext="">Kein Ausweis</option>
								    <option th:each="i : ${nichtTeilnehmendeAusweise}" th:value="${i.rfidSnr}" th:data-snr="${i.rfidSnr}" th:data-kennung="${i.kennung}" th:data-subtext="${i.kennung}" th:text="${i.rfidSnr}"></option>
			 					</select>	
			 				</div>
			 				<hr />
		 				</div>	
		 					   	
					    <table class="table table-striped">
							<thead>
								<tr>
									<td scope="col">RFID-Seriennummer</td>
									<td scope="col">Kennung</td>
									<td scope="col"></td>
								</tr>
							</thead>
							<tbody th:style="${#lists.isEmpty(veranstaltung.teilnehmendeAusweise) ? 'display: none;' : ''}" id="teilnehmendeAusweiseBearbeitenTable">
								<tr th:each="ausweis : ${veranstaltung.teilnehmendeAusweise}" data-added="false" th:data-snr="${ausweis.rfidSnr}">
									<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_AUSWEISE')"><a th:href="@{/verwaltung/ausweise/}+${ausweis.rfidSnr}+'/'+${ausweis.kennung}" th:text="${ausweis.rfidSnr}"></a></td>
									<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_AUSWEISE')" th:text="${ausweis.rfidSnr}"></td>
									<td th:text="${ausweis.kennung}"></td>
									<td>
										<a href="#" onclick="entferneAusweis(this, 'teilnehmendeAusweiseBearbeitenSelect', 'teilnehmendeAusweiseBearbeitenTable', 'teilnehmendeAusweiseBearbeitenForm', 'keineTeilnehmendenAusweise'); return false;" th:data-snr="${ausweis.rfidSnr}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
											</svg>
										</a>
									</td>
								</tr>
							</tbody>
							<tbody th:style="${#lists.isEmpty(veranstaltung.teilnehmendeAusweise) ? '' : 'display: none;'}" id="keineTeilnehmendenAusweise">
								<tr>
									<td colspan="3"><center>Kein Ausweis</center></td>
								</tr>
							</tbody>
						</table>
						<form th:action="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}+'/teilnehmendeBearbeiten/ausweise'" method="post" id="teilnehmendeAusweiseBearbeitenForm">
							<button type="submit" class="btn btn-secondary">Speichern</button>
						</form>
				 	</div>
			 	</div>
			</div>
			
	 		<div class="col-md-6">
			 	<div class="card">
					<div class="card-body">
					    <h5 class="card-title">Teilnehmende Personen</h5>		
					    <div>
						    <div class="row-fluid">
								<label for="teilnehmendePersonenBearbeitenSelect" class="form-label">Person hinzufügen</label>
				  				<select id="teilnehmendePersonenBearbeitenSelect" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onchange="fuegePersonHinzu('teilnehmendePersonenBearbeitenSelect', 'teilnehmendePersonenBearbeitenTable', 'teilnehmendePersonenBearbeitenForm','keineTeilnehmendenPersonen')">
								    <option value="" data-subtext="">Keine Person</option>
								    <option th:each="p : ${nichtTeilnehmendePersonen}" th:value="${p.id}" th:data-vorname="${p.vorname}" th:data-nachname="${p.nachname}" th:data-id="${p.id}" th:data-kennung="${p.kennung}" th:data-subtext="${p.kennung}" th:text="${p.vorname} + ' ' + ${p.nachname}"></option>
			 					</select>	
			 				</div>
			 				<hr />
		 				</div>	
		 					   	
					    <table class="table table-striped">
							<thead>
								<tr>
									<td scope="col">Kennung</td>
									<td scope="col">Nachname</td>
									<td scope="col">Vorname</td>
									<td scope="col"></td>
								</tr>
							</thead>
							<tbody th:style="${#lists.isEmpty(veranstaltung.teilnehmendePersonen) ? 'display: none;' : ''}" id="teilnehmendePersonenBearbeitenTable">
								<tr th:each="person : ${veranstaltung.teilnehmendePersonen}" data-added="false" th:data-id="${person.id}">
									<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_PERSONEN')"><a th:href="@{/verwaltung/personen/}+${person.id}" th:text="${person.kennung}"></a></td>
									<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_PERSONEN')"th:text="${person.kennung}"></td>
									<td th:text="${person.nachname}"></td>
									<td th:text="${person.vorname}"></td>
									<td>
										<a href="#" onclick="entfernePerson(this, 'teilnehmendePersonenBearbeitenSelect', 'teilnehmendePersonenBearbeitenTable', 'teilnehmendePersonenBearbeitenForm', 'keineTeilnehmendenPersonen'); return false;" th:data-id="${person.id}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
											</svg>
										</a>
									</td>
								</tr>
							</tbody>
							<tbody th:style="${#lists.isEmpty(veranstaltung.teilnehmendePersonen) ? '' : 'display: none;'}" id="keineTeilnehmendenPersonen">
								<tr>
									<td colspan="4"><center>Keine Personen</center></td>
								</tr>
							</tbody>
						</table>
						<form th:action="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}+'/teilnehmendeBearbeiten/personen'" method="post" id="teilnehmendePersonenBearbeitenForm">
							<button type="submit" class="btn btn-secondary">Speichern</button>
						</form>
				 	</div>
			 	</div>
			</div>			
		</div>
	 	
	 	<div class="row mt-5">
			<div class="col-md-6">
			 	<div class="card">
					<div class="card-body">
					    <h5 class="card-title">Berechtigte Ausweise</h5>
					   	<div>
						    <div class="row-fluid">
								<label for="berechtigteAusweiseBearbeitenSelect" class="form-label">Ausweis hinzufügen</label>
				  				<select id="berechtigteAusweiseBearbeitenSelect" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onchange="fuegeAusweisHinzu('berechtigteAusweiseBearbeitenSelect', 'berechtigteAusweiseBearbeitenTable', 'berechtigteAusweiseBearbeitenForm','keineBerechtigtenAusweise')">
								    <option value="" data-subtext="">Keine Ausweis</option>
								    <option th:each="i : ${nichtBerechtigteAusweise}" th:value="${i.rfidSnr}" th:data-snr="${i.rfidSnr}" th:data-kennung="${i.kennung}" th:data-subtext="${i.kennung}" th:text="${i.rfidSnr}"></option>
			 					</select>	
			 				</div>
			 				<hr />
		 				</div>	
		 					   	
					    <table class="table table-striped">
							<thead>
								<tr>
									<td scope="col">RFID-Seriennummer</td>
									<td scope="col">Kennung</td>
									<td scope="col"></td>
								</tr>
							</thead>
							<tbody th:style="${#lists.isEmpty(veranstaltung.berechtigteAusweise) ? 'display: none;' : ''}" id="berechtigteAusweiseBearbeitenTable">
								<tr th:each="ausweis : ${veranstaltung.berechtigteAusweise}" data-added="false" th:data-snr="${ausweis.rfidSnr}">
									<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_AUSWEISE')"><a th:href="@{/verwaltung/ausweise/}+${ausweis.rfidSnr}+'/'+${ausweis.kennung}" th:text="${ausweis.rfidSnr}"></a></td>
									<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_AUSWEISE')" th:text="${ausweis.rfidSnr}"></td>
									<td th:text="${ausweis.kennung}"></td>
									<td>
										<a href="#" onclick="entferneAusweis(this, 'berechtigteAusweiseBearbeitenSelect', 'berechtigteAusweiseBearbeitenTable', 'berechtigteAusweiseBearbeitenForm', 'keineBerechtigtenAusweise'); return false;" th:data-snr="${ausweis.rfidSnr}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
											</svg>
										</a>
									</td>
								</tr>
							</tbody>
							<tbody th:style="${#lists.isEmpty(veranstaltung.berechtigteAusweise) ? '' : 'display: none;'}" id="keineBerechtigtenAusweise">
								<tr>
									<td colspan="3"><center>Keine Ausweis</center></td>
								</tr>
							</tbody>
						</table>
						<form th:action="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}+'/berechtigteBearbeiten/ausweise'" method="post" id="berechtigteAusweiseBearbeitenForm">
							<button type="submit" class="btn btn-secondary">Speichern</button>
						</form>
				 	</div>
			 	</div>
			</div>
			
	 		<div class="col-md-6">
			 	<div class="card">
					<div class="card-body">
					    <h5 class="card-title">Berechtigte Personen</h5>		
					    <div>
						    <div class="row-fluid">
								<label for="berechtigtePersonenBearbeitenSelect" class="form-label">Person hinzufügen</label>
				  				<select id="berechtigtePersonenBearbeitenSelect" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" onchange="fuegePersonHinzu('berechtigtePersonenBearbeitenSelect', 'berechtigtePersonenBearbeitenTable', 'berechtigtePersonenBearbeitenForm', 'keineBerechtigtenPersonen')">
								    <option value="" data-subtext="">Keine Person</option>
								    <option th:each="p : ${nichtBerechtigtePersonen}" th:value="${p.id}" th:data-vorname="${p.vorname}" th:data-nachname="${p.nachname}" th:data-id="${p.id}" th:data-kennung="${p.kennung}" th:data-subtext="${p.kennung}" th:text="${p.vorname} + ' ' + ${p.nachname}"></option>
			 					</select>	
			 				</div>
			 				<hr />
		 				</div>	
		 					   	
					    <table class="table table-striped">
							<thead>
								<tr>
									<td scope="col">Kennung</td>
									<td scope="col">Nachname</td>
									<td scope="col">Vorname</td>
									<td scope="col"></td>
								</tr>
							</thead>
							<tbody th:style="${#lists.isEmpty(veranstaltung.berechtigtePersonen) ? 'display: none;' : ''}" id="berechtigtePersonenBearbeitenTable">
								<tr th:each="person : ${veranstaltung.berechtigtePersonen}" data-added="false" th:data-id="${person.id}">
									<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_PERSONEN')"><a th:href="@{/verwaltung/personen/}+${person.id}" th:text="${person.kennung}"></a></td>
									<td sec:authorize="!hasAnyRole('ROLE_ADMINISTRATION','ROLE_VERWALTUNG_PERSONEN')"th:text="${person.kennung}"></td>
									<td th:text="${person.nachname}"></td>
									<td th:text="${person.vorname}"></td>
									<td>
										<a href="#" onclick="entfernePerson(this, 'berechtigtePersonenBearbeitenSelect', 'berechtigtePersonenBearbeitenTable', 'berechtigtePersonenBearbeitenForm', 'keineBerechtigtenPersonen'); return false;" th:data-id="${person.id}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
											</svg>
										</a>
									</td>
								</tr>
							</tbody>
							<tbody th:style="${#lists.isEmpty(veranstaltung.berechtigtePersonen) ? '' : 'display: none;'}" id="keineBerechtigtenPersonen">
								<tr>
									<td colspan="4"><center>Keine Personen</center></td>
								</tr>
							</tbody>
						</table>
						<form th:action="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}+'/berechtigteBearbeiten/personen'" method="post" id="berechtigtePersonenBearbeitenForm">
							<button type="submit" class="btn btn-secondary">Speichern</button>
						</form>
				 	</div>
			 	</div>
			</div>			
		</div>
		<div class="card mt-5" th:if="${!veranstaltung.isArchiv}">
		 	<div class="card-body">
			    <h5 class="card-title">Veranstaltung archivieren</h5>
			    <div>
				  	<a onclick="return window.confirm('Soll die Veranstaltung wirklich archiviert werden?');" th:href="@{/verwaltung/veranstaltungen/}+${veranstaltung.id}+'/archivieren'"><button type="button" class="btn btn-danger">Veranstaltung archivieren</button></a>
			   	</div>
		 	</div>
	 	</div>
	</div>
</html>